.landing {
  h2 {
    font-size: 2.6rem;
    margin: 2rem 0;
  }
  p {
    font-size: 1.35rem;
  }
}

#mon-domifa-header {
  margin-bottom: 2rem;
  padding: 2rem;

  * {
    display: inline-block !important;
    vertical-align: middle;
    max-width: 60%;
    margin: 0 1rem;
  }

  img {
    height: 110px;
    width: auto;
    margin-right: 1.2rem;
  }
}
