.table-history {
  border-collapse: separate;
  border-spacing: 0 7px;

  tbody td {
    vertical-align: middle;
    font-style: normal;
    padding: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  tbody td:first-child {
    border-radius: 10px 0 0 10px;
    padding: 0 1rem;
    width: 240px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  tbody td:last-child {
    background-color: white;
    border-radius: 0 10px 10px 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 1rem;
  }

  tbody tr {
    background: #ffffff;
    height: 50px;
  }

  thead th {
    font-weight: 600;
    color: #3150c0;
    padding: 0.2rem 0.5rem;
    border: none;
  }
}

.results-selector {
  select {
    padding: 0.4rem 1rem;
    border-radius: 6px;
  }
  label {
    margin: 0;
  }

  width: 300px;
}
