#help-button-wrapper {
  position: fixed;
  bottom: 5%;
  right: 1%;
  text-align: right;
}

#help-button-wrapper button {
  vertical-align: middle;
}

#help-button {
  border-radius: 50%;
  border: 0 none;
  background-color: var(--primary);
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 1.4rem;
  box-shadow: 0 0 5px 2px rgba(215, 210, 210, 0.3);
}

#matomo-info {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #bcd1ff;
  border-color: #5193f5;
  padding: 10px 15px;
}

#matomo-info > div {
  font-size: 0.9rem;
}

#matomo-info div {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

.btn-white {
  background-color: white;
  border-radius: 6px;
  transition: all 0.25s;
}

.btn-white:hover {
  color: white;
}

.page-footer div {
  display: inline-block;
  min-width: 80px;
  padding: 0.5rem 1rem;
  vertical-align: middle;
  font-size: 1rem;
}

.page-footer img {
  max-height: 55px;
}

.page-footer {
  text-align: center;

  width: 100%;
  padding: 0.5rem 3rem;
  border-top: 1px solid #e6e6e6;
}
