footer {
  width: 100%;
  border-top: 1px solid #e6e6e6;

  img.ministere-logo {
    max-height: 110px;
    width: auto;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    padding: 0.25rem 0;
  }
}

#skip-links {
  width: 100%;
  padding: 0.25rem 0;
  background-color: white;
  position: absolute;
  top: 0;
  transform: translateY(-100%);

  li {
    display: inline-block;
    list-style-type: none;
  }

  a {
    display: block;
    padding: 1rem 2rem;
  }
}

#skip-links:focus-within {
  position: relative;
  transform: translateY(0%);
}

#cgu-modal {
  max-height: 400px;
  overflow: auto;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  margin: 1rem auto;
}
