.number {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 8px;
  display: block;
  background: #fff;
  border: 1px solid var(--primary);
  color: var(--primary);
  text-align: center;
}

.icon-courrier {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  box-sizing: border-box;
  background-color: #4164f5;
  -webkit-mask-size: 80% !important;
  mask-size: 80% !important;
}

.interaction-separator {
  margin: 0 auto;
  width: 1px;
  border-left: 2px solid rgba(65, 100, 245, 0.1);
  min-height: 45px;
  height: 100%;
}

.interaction-date {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 0.95rem;
  color: var(--primary);
  line-height: 150%;
}

.interaction-historique:last-child .interaction-separator {
  display: none !important;
}
