@layer dsfr, dsfr-personnalization;

@import "node_modules/bootstrap/scss/bootstrap.scss" layer(bootstrap);
@import "@gouvfr/dsfr/dist/dsfr.min.css" layer(dsfr);
@import "@gouvfr/dsfr/dist/utility/utility.min.css" layer(dsfr);

@layer dsfr-personnalization {
  .fr-callout--empty {
    background-color: var(--background-default-grey-hover);
    background-image: linear-gradient(
      0deg,
      var(--text-mention-grey),
      var(--text-mention-grey)
    );
  }

  .fr-modal__title {
    margin-bottom: 1rem;
  }

  a.fr-link:has(img),
  a.fr-link:has(img):visited,
  a.fr-link:has(img):hover {
    background-image: none;
  }
}
