$primary: #4164f5;
$bs-primary: #4164f5;
$secondary: #50e3c2;
$bs-secondary: #50e3c2;

// scss-docs-start color-variables
$blue: #4164f5 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #d71d30 !default;
$orange: #c25700 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$font-family-sans-serif: "Marianne", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
$font-family-monospace: "Marianne", SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

// BUTTONS
$btn-border-radius: 4rem !default;
$btn-border-radius-sm: 4rem !default;
$btn-border-radius-lg: 4rem !default;

// scss-docs-start input-btn-variables
$input-btn-padding-y: 0.5rem !default;
$input-btn-padding-x: 0.8rem !default;

// scss-docs-start table-variables
$table-cell-padding-y: 0.8rem !default;
$table-cell-padding-x: 0.6rem !default;

@import "bootstrap/scss/bootstrap";
