$blue: #4164f5;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #e11d1d;
$orange: #ff7f09;
$yellow: #ffc107;
$green: #50e3c2;
$green2: #00e457;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #50e3c2;
$gray-dark: #343a40;
$primary: #4164f5;
$secondary: #50e3c2;
$success: #00e457;
$info: #17a2b8;
$warning: #f0870c;
$danger: #f00c0c;
$light: #f8f9fa;
$dark: #343a40;
$font-family-sans-serif: "Marianne", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
$font-family-monospace: "Marianne", SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

@import "~bootstrap/scss/bootstrap";
@import "~ngx-toastr/toastr-bs4-alert";
