.carte {
  min-width: 400px;
}

path {
  stroke: #999999;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: white;
  transition: all 0.2s ease;
}

svg {
  height: auto;
  max-width: 100%;
  overflow-x: auto;
}

g path:hover {
  fill: #f2f2f2;
  cursor: pointer;
}

foreignObject:hover .map-number {
  transform: scale(1.35, 1.35);
  box-shadow: 2px 2px 4px 1px rgba(215, 210, 210, 0.8);
}

foreignObject {
  cursor: pointer;
}

.map-number {
  background-color: var(--primary);
  font-weight: bold;
  border-radius: 100%;
  padding: 4px;
  font-size: 0.9rem;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 10% auto;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
}

.map-number:hover {
}
