.carte {
  min-width: 280px;
  max-width: 96%;
}

#carte-metropole {
  min-height: 300px;
  min-width: 300px;
  max-width: 96%;
}

path {
  stroke: #999999;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: white;
  transition: all 0.2s ease;
}

svg {
  height: auto;
  max-width: 100%;
  overflow-x: auto;
}

.region-hover {
  fill: #f2f2f2;
}

foreignObject:hover .map-number {
  transform: scale(1.15, 1.15);
  box-shadow: 2px 2px 4px 1px rgba(215, 210, 210, 0.8);
}

foreignObject {
  overflow: visible;
  cursor: pointer;
}

.map-number {
  background-color: var(--artwork-major-blue-france);
  font-weight: bold;
  border-radius: 100%;
  padding: 4px;
  text-align: center;
  width: 32px;
  height: 32px;
  display: block;
  line-height: 1.6rem;
  font-size: 0.9rem;
  margin: 8% auto;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
}

.map-tooltip {
  font-size: 0.9rem;
  word-break: break-word;
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #dbe1ff;
  box-shadow: 0 1px 8px rgba(72, 93, 183, 0.2),
    inset 0 -1px 0 rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  padding: 10px 12px;
}

.map-tooltip span {
  font-weight: 600;
}
.map-tooltip div {
  color: black !important;
}
