table {
  border-collapse: separate;
  border-spacing: 0 10px;
  margin: 0 auto;
  box-sizing: content-box;
  min-width: 1000px;
}

#table-usagers  {
  width: 100%;
  max-width: 2000px;
}

tbody td {
  vertical-align: middle;
  border: none;
  font-weight: 600;
  font-style: normal;
  padding: 0;
  height: 62px;
}

tbody td a {
  width: 100%;
  height: 100%;
  padding: 4px 11px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

tbody td a:hover,
tbody td a:active,
tbody td a:visited {
  text-decoration: none;
}

.manage-usager-ref {
  background-color: white;
}

tbody td:nth-child(2) {
  max-width: 350px;
  word-break: break-all;
}

tbody td:first-child {
  border-radius: 2px 0 0 2px;
  min-width: 50px !important;
  max-width: 120px;
}

.manage-usager-ref {
  min-width: 80px;
}

tbody td:last-child {
  background-color: white;
  text-align: right;
  border-radius: 0 2px 2px 0;
  width: 60px;
  min-width: 0;
}

tbody tr {
  transition: all 50ms;
  animation-timing-function: cubic-bezier(Ease Out);
  background: #ffffff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  opacity: 0.8;
}

tbody tr:hover {
  background-color: #fff;
  outline: 0;
  opacity: 1;
  cursor: pointer;
  box-shadow: 2px 1px 4px rgba(179, 179, 179, 0.5);
}

thead th {
  font-style: normal;
  font-weight: 600;
  font-size: 0.95rem;
  line-height: 1.2rem;
  color: #3150c0;
  padding: 10px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
  vertical-align: middle;
}

thead td,
th {
  font-size: 1rem;
  border: none !important;
  padding: 0;
  vertical-align: bottom;
}

.table-name a div {
  width: 210px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table-name {
  max-width: 300px;
}

.icones_liste {
  padding: 2px 4px;
  min-width: 360px;
}

.interaction-buttons {
  display: flex;
  align-items: center;
}

.interaction-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(65, 100, 245, 0.4);
  box-sizing: border-box;
  border-radius: 3px;
  margin: 3px;
  padding: 1px 2px;
  position: relative;
}

.interaction-btn * {
  transition: all 0.2s;
}

.interaction-btn:hover {
  color: white;
  background-color: #4164f5;
}

.interaction-btn:hover .list-icon {
  background-color: white;
}

.list-icon {
  padding: 15px;
  box-sizing: border-box;
  background-color: #4164f5;
  -webkit-mask-size: 80%;
  mask-size: 80%;
}

.list-icon-label {
  font-size: 0.8rem;
  padding: 0 4px;
}

.distribution-tooltip {
  opacity: 1;
  min-width: 240px;
  font-size: 0.9rem;
}

.distribution-tooltip .list-icon {
  box-sizing: border-box;
  background-color: black;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-size: 90%;
}

.distribution-tooltip div {
  margin: 6px 0;
  text-align: left;
}

.distribution-tooltip span {
  vertical-align: middle;
  display: inline-block;
}
.label-statut {
  display: block;
  width: 100%;
}
