*.md
.git
**/node_modules
**/packages/backend/dist
**/packages/frontend/dist
**/packages/portail-usagers/dist
**/packages/portail-admins/dist
**/coverage
**/Dockerfile
.dockerignore
Dockerfile
.github
.kontinuous
.releaserc.yml
.sonarcloud.properties
sonar-project.properties
LICENSE
