.env
node_modules
coverage
.vscode
.prettierrc
optional/e2e/runners/puppeteer/output
*.code-workspace
.secrets.yaml
~$*.xlsx

# System Files
.DS_Store
Thumbs.db

# Local anonymizer
.anonymizer/tmp 
.anonymizer/config.local.yaml
.anonymizer/greenmask

*.psql.gz


.nx/cache
.nx/workspace-data
