version: "3"
services:
  frontend:
    image: registry.gitlab.factory.social.gouv.fr/socialgouv/domifa/frontend:master
    restart: always
    ports:
      - 80:80
    environment:
      - API_URL=//domifa-api.fabrique.social.gouv.fr

  backend:
    env_file:
      - ./packages/backend/.env
    image: registry.gitlab.factory.social.gouv.fr/socialgouv/domifa/backend:master
    restart: always
    depends_on:
      - mongo
    ports:
      - 3000:3000
    volumes:
      - /mnt/files/:/files/

  mongo:
    image: "mongo:4.2.3"
    restart: always
    volumes:
      - domifa-data:/data/db
    ports:
      - 27017:27017

volumes:
  domifa-data:
