version: "3"

volumes:
  domifa-data:
  postgres-data:

services:
  mongo:
    image: "mongo:4.2.12"
    restart: always
    volumes:
      - domifa-data:/data/db
    ports:
      - "${DOCKER_LOCAL_PORT_MONGO}:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASS}
      MONGO_INITDB_DATABASE: ${DB_NAME}

  postgres:
    image: postgres:10.14
    restart: always
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "${DOCKER_LOCAL_PORT_POSTGRES}:5432"
    environment:
      TZ: UTC
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_DB: ${POSTGRES_DATABASE}
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    env_file:
      - ./.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USERNAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    env_file:
      - ./.env
    image: registry.gitlab.factory.social.gouv.fr/socialgouv/domifa/backend:${DOMIFA_DOCKER_IMAGE_VERSION}
    restart: always
    depends_on:
      - "mongo"
      - "postgres"
    ports:
      - "${DOCKER_LOCAL_PORT_BACKEND}:3000"
    volumes:
      - $DOCKER_HOST_UPLOADS_FOLDER:/files/
    environment:
      TZ: Europe/Paris

  frontend:
    image: registry.gitlab.factory.social.gouv.fr/socialgouv/domifa/frontend:${DOMIFA_DOCKER_IMAGE_VERSION}
    restart: always
    ports:
      - "${DOCKER_LOCAL_PORT_FRONTEND}:80"
    env_file:
      - ./.env
    environment:
      TZ: Europe/Paris
