.form-check label {
  font-weight: 300;
  margin-left: 5px;
  padding: 6px 0;
  width: 100%;
}

.modal-body .col-md-12,
.modal-body .col-md-6 {
  padding: 5px !important;
}

.decision-form .invalid-feedback {
  display: block !important;
}
