.profil {
  color: #2E384D;
}

#profil_head {
  padding: 5px 20px;
  max-width: 320px;
  max-width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #2E384D;
}

#profil_name {
  font-size: 1.3rem;
  margin: 2px 0;
  padding: 0;
  font-weight: bold;
}

#profil_name span {
  text-transform: uppercase;
}

#notif_form div {
  margin: 5px auto;
}

input[type="number"] {
  width: 60px;
  margin: 0 10px;
  display: inline-block;
}

.actions_icones {
  display: block;
  color: white;
  -webkit-text-stroke-width: 12px;
  stroke-width: 10px;
  margin-bottom: 10px;
  transition: all 0.3s;
  cursor: pointer;
  padding-top: 20px;
}

#big_icons div {
  width: 48%;
  padding: 0 5px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

#big_icons {
  margin-left: 20px;
  border-left: 1px solid #dfdfdf;
}

#big_icons span {
  font-size: 0.8rem;
  line-height: 1rem;
  display: block;
}

.btn-pink {
  background-color:  rgba(189,16,224,0.5);
  color: white;
}

.btn-pink:hover{
  background-color: #BD10E0;
}


.arrows {
  text-align: right;
}

.head-panel .btn {
  position: relative;
}

.head-panel .arrows {
  position: absolute;
  right: 20px;
}
