.home-message {
  padding: 2rem 1rem;
}

#search-bar {
  margin: 0 auto;
  position: relative;

  input {
    padding: 0.3rem 0.8rem;
    height: 44px;
    background: white;
  }

  button:focus,
  input:focus {
    box-shadow: 0 0 0 0.15rem rgba(0, 0, 0, 0.38);
  }
}

#deleteSearchIcon {
  display: block;
  position: absolute;
  outline: none;
  border: none;
  right: 20px;
  height: 44px;
  top: 0;
  color: rgb(73, 73, 73);
  background-color: transparent;
  font-size: 1rem;
  z-index: 10;
}

#searchIcon {
  left: 0;
  color: #959595;
}

#search-btn {
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1);
  background: rgb(192 196 209);
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100% 200%;
  display: block;
  width: 100%;
  min-height: 70vh;
  background-image: linear-gradient(to bottom, #f2f2f2, transparent);
  z-index: 50;
}

.content-overlay div {
  margin: 50px auto;
  text-align: center;
}

.content-overlay span {
  width: 300px;
  line-height: 100%;
  color: var(--bs-primary);
  font-size: 1.3rem;
  font-weight: 600;
}

.dropdown-menu {
  max-height: 80vh;
  overflow-y: auto;
}

.dropdown-toggle {
  &__reset_btn {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }

  &--selected {
    min-width: 16rem;
    padding-top: 0.4rem;
  }

  font-weight: 600;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: left;
  min-width: 16rem;
  background: #f9f9fc;
  color: #4a4a4a;
  border: 1px solid #cfcfd9;
  padding: 0.4rem 0.6rem;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  word-break: break-word;
}
