.nav-brand {
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
  color: #000000;
}

.navbar {
  border-top: 4px solid var(--bs-primary);
}
ul.skip-links {
  position:absolute;
  left: 10px;
  top: 10px;
  z-index: 10;
}
ul.skip-links li {
  list-style: none;
}
ul.skip-links a {
  color: transparent  ;
  display:block;
  width: 0;
  height: 0;    
  text-decoration: none;
}
ul.skip-links a:focus {
  background-color: var(--bs-primary);
  width: auto;
  height: auto;
  color: #fff;
  z-index: 11;
  position: relative;
  outline-offset: 2px;
  padding: 5px;
}
