.nav-brand {
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
  color: #000000;
}

.navbar {
  border-top: 4px solid var(--bs-primary);
}

#skip-links {
  width: 100%;
  padding: 0.25rem 0;
  background-color: white;
  position: absolute;
  top: 0;
  transform: translateY(-100%);

  li {
    display: inline-block;
    list-style-type: none;
  }

  a {
    display: block;
    padding: 1rem 2rem;
  }
}

#skip-links:focus-within {
  position: relative;
  transform: translateY(0%);
}

footer {
  width: 100%;
  background-color: white;
  border-top: 1px solid #e6e6e6;
}

footer img.ministere-logo {
  max-height: 100px;
  width: auto;
}

footer .menu-breadcrumb {
  color: #1a1a1a;
  padding-left: 10px;
  padding-right: 10px;
}

#matomo-info a {
  color: #292929;
  text-decoration: underline;
}

#matomo-info {
  text-align: center;
  width: 100%;
  background-color: #bcd1ff;
  border-color: #5193f5;
  padding: 10px 15px;
  font-size: 0.9rem;
  display: block;
}

.partenaires img {
  height: 70px;
  width: auto;
  margin: 0.8rem;
}
