.nav-brand {
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  color: #000000;
}

.navbar {
  border-top: 5px solid var(--bs-primary);
}

footer {
  width: 100%;
  border-top: 1px solid #e6e6e6;

  img.ministere-logo {
    max-height: 110px;
    width: auto;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    padding: 0.25rem 0;
  }
}

#matomo-info a {
  color: #292929;
  text-decoration: underline;
}

#matomo-info {
  text-align: center;
  width: 100%;
  background-color: #bcd1ff;
  border-color: #5193f5;
  padding: 10px 15px;
  font-size: 0.9rem;
  display: block;
}

.partenaires img {
  height: 70px;
  width: auto;
  margin: 0.8rem;
}

#logo-footer img {
  height: 200px;
  width: auto;
}
.content-list {
  .ng-fa-icon {
    margin-left: 0.3rem;
  }

  li {
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
  }
}
