.dropdown-item {
  border: none;
  padding: 0.2rem 0.4rem;
}

.dropdown-toggle {
  background-color: rgb(238, 238, 238) !important;
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
}

.dropdown-menu {
  max-height: 320px;
  overflow: auto;
}

.country-list-scroll {
  span {
    display: inline-block;
    margin: 0;
    padding: 0.2rem 0.1rem;
  }
}
