.fr-phone-input-group {
  position: relative;

  input[type="tel"] {
    padding-left: 7.5rem;
  }
}

.phone-flag-indicator {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  z-index: 2;
  pointer-events: none;
}

:host ::ng-deep dsfrx-dropdownmenu {
  .dsfrx-menu-dropdown__btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border: none;
    background: transparent;
    box-shadow: none;
    z-index: 1;
    padding: 0.25rem 0.75rem !important;
    --icon-size: 1rem !important;
    margin-left: 1rem !important;
    font-size: 1rem;
    margin-top: 0.3rem;
  }

  .dsfrx-menu-dropdown__list {
    max-height: 320px;
    overflow: auto;
  }

  .dsfrx-menu-item {
    padding: 0.15rem 0.25rem;
  }
}

.country-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  span {
    display: inline-block;
    margin: 0;
    padding: 0.1rem;
  }
}

.iti__flag {
  display: inline-block;
  vertical-align: middle;
}
