.number {
  width: 30px;
  height: 30px;
  padding: 2px;
  display: block;
  background: #fff;
  font-size: 3rem;
  color: var(--text-active-blue-france);
  text-align: center;
}

.interaction-separator {
  margin: 0 auto;
  width: 1px;
  border-left: 2px solid rgba(65, 100, 245, 0.1);
  min-height: 45px;
  height: 100%;
}

.interaction-date {
  font-style: normal;
  font-weight: bold;
  font-size: 0.95rem;
  color: var(--text-active-blue-france);
  line-height: 150%;
}

.interaction-historique:last-child .interaction-separator {
  display: none !important;
}

p {
  margin: 0;
}

span [class*=" ri-"],
span[class^="fr-icon-"],
span[class*=" fr-icon-"] {
  color: var(--text-active-blue-france) !important;
  margin-right: 0.5rem !important;
  vertical-align: bottom !important;
  display: inline-block !important;
}
