.home-message {
  padding: 2rem 1rem;
}

#structures-table tr th:not(:first-child),
#structures-table tr td:not(:first-child) {
  max-width: 400px;
  min-width: 50px;
}
#structures-table tr th.col-w-30,
#structures-table tr td.col-w-30 {
  min-width: auto;
  max-width: auto;
  width: 30px;
}
#structures-table tr th.col-w-50,
#structures-table tr td.col-w-50 {
  min-width: auto;
  max-width: auto;
  width: 50px;
}

#structures-table tr > th:first-child,
#structures-table tr > td:first-child {
  font-weight: bold;
}

#structures-table {
  margin: 20px auto;
  overflow-x: scroll;
  border: 1px solid #dbdbdb;
}

#structures-table table {
  width: 100%;
}

#structures-table th:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

#structures-table th .ng-fa-icon {
  float: right;
}
