.card_not_selected {
  opacity: 0.5;
}

.card_selected,
.card:hover,
.card:focus {
  transition: all 0.15s;
  border-color: var(--blue);
  box-shadow: 0 1px 6px 0 rgba(124, 124, 124, 0.15);
  z-index: 900;
}

label {
  font-weight: 600;
}

.label {
  display: block;
  font-weight: 600;
  padding: 10px 0;
}

.autres {
  display: inline-block;
  width: 220px;
  margin-left: 10px;
  margin-top: -15px;
}

.form-check label {
  font-weight: 300;
  margin-left: 5px;
}

.questions {
  margin: 15px auto;
}

.questions .form-check {
  display: inline-block;
  margin-bottom: 12px;
  min-width: 345px;
}

#heureRdv {
  margin: 0 auto;
}
