h1 {
  font-weight: 600;
  line-height: 3rem;
  max-width: 780px;
  margin: 0.5rem auto;
}

#home1 p {
  max-width: 650px;
  margin: 0.5rem auto;
}

#home1 {
  background: url("../../../assets/images/image_fond.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 3rem 1rem;
  text-align: center;
  color: white;
}

.big_number {
  display: block;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 4rem;
  padding: 1rem 0;
  text-align: center;
}

#home_pictos img {
  max-width: 120px;
  height: auto;
  margin: 2rem auto;
}
