.interaction-icon {
  height: 32px;
  width: 26px;

  text-align: left;
  background-color: #26353f;
  -webkit-mask-size: 90% !important;
  mask-size: 90% !important;
}

.profil-interaction-label {
  font-weight: 900;
  font-size: 1.3rem;
}
