#stats {
  max-width: 90%;
  margin: 20px auto;
}

#stats .card {
  padding: 15px 20px;
  margin: 25px auto;
}

.stats-button {
  margin: 5px;
}

.stats-blocks div {
  min-width: 150px;
  margin-right: 4px;
  margin-top: 4px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 3px 10px;
  text-align: center;
  text-transform: uppercase;
}

.stats-chiffres {
  font-weight: 700;
  font-size: 1.4em;
  display: inline-block;
  line-height: 2rem;
  vertical-align: middle;
  margin-right: 10px;
}

.stats-head {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  max-width: 60%;
  background-color: white;
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
}

.stats-structure {
  font-size: 1.3rem;
  margin: 6px auto;
  font-weight: 600;
}

.stats-titre {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.stats-labels {
  letter-spacing: -0.1px;
  font-size: 0.77rem;
}

.structure-card {
  margin: 20px !important;
  width: 46%;
  max-width: 1000px;
  display: inline-block;
}

#dashboard tr th:not(:first-child),
#dashboard tr td:not(:first-child) {
  max-width: 500px;
  min-width: 140px;
}

#dashboard tr > th:first-child,
#dashboard tr > td:first-child {
  width: 80px;
  font-weight: bold;
}

#dashboard {
  margin: 20px auto;
  overflow-x: scroll;
  min-width: 1500px;
  border: 1px solid #dbdbdb;
  border-radius: 1px solid #fafafa;
}
