#stats .card {
  padding: 15px 20px;
  margin: 25px auto;
}

.stats-button {
  margin: 5px;
}

.stats-blocks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.stats-blocks div {
  width: 19%;
  max-width: 160px;
  margin-right: 5px;
  margin-top: 5px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 8px 4px;
  text-align: center;
  text-transform: uppercase;
}

.stats-chiffres {
  font-weight: 700;
  font-size: 2.3rem;
  display: block;
  line-height: 2.5rem;
}

.stats-head {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  max-width: 60%;
  background-color: white;
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
}

.stats-structure {
  font-size: 1.3rem;
  margin: 8px auto;
  font-weight: 600;
}

.stats-titre {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.stats-labels {
  letter-spacing: -0.1px;
  font-size: 0.77rem;
}

.structure-card {
  margin: 20px !important;
  width: 46%;
  max-width: 1000px;
  display: inline-block;
}
