/* INTERACTIONS */
.interaction-icon-box {
  background: #eceffe;
  border-radius: 10px;
  padding: 10px 5px;
  text-align: center;
}

.interaction-icon {
  height: 60px;
  width: 60px;
  text-align: center;
  padding: 50px 30px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: black;
  -webkit-mask-size: 100% !important;
  mask-size: 100% !important;
}

.interaction-actions {
  text-align: center;
  width: 100%;
  margin-top: -10px;
}

.interaction-notification {
  display: inline-block;
  position: absolute;
  top: -20px;
  right: -6px;
  background-color: var(--secondary);
  border-radius: 100%;
  color: white;
  font-weight: 600;
  width: 40px;
  padding: 4px 2px;
  font-size: 1.35rem;
  z-index: 1000;
}

.interaction-btn  {
  border: 1px solid rgba(65, 100, 245, 0.3);
  box-sizing: border-box;
  border-radius: 3px;
}

.interaction-actions img {
  width: 20px;
  height: auto;
  margin-top: -4px;
}

.interaction-actions button {
  border-radius: 100%;
  padding: 6px 8px;
  display: inline-block;
  max-width: 60px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.interaction-actions button:focus {
  outline: none;
}

.interaction-label {
  font-weight: 600;
  font-size: 1.05rem;
}

.row {
  margin: 0;
}

.interaction-actions .action:hover {
  box-shadow: 2px 1px 4px rgb(179 179 179 / 50%);
}

.interaction-actions .action .ng-fa-icon {
  padding: 1px 4px;
}

.interaction-actions .action {
  border-radius: 100%;
  max-width: 50px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  padding: 6px 8px;
  margin: 0 auto;
}

.interaction-actions .action-selected {
  background-color: var(--primary);
  color: white;
}

.interaction-actions .action-not-selected {
  background-color: white;
  border: 1px solid var(--primary);
  color: white;
}

.interaction-label {
  font-weight: 600;
  font-size: 1.05rem;
}

.disabled {
  opacity: 0.5;
}

.disabled .action,
.disabled .interaction-notification {
  opacity: 0;
}
