/* INTERACTIONS */
.interaction-icon-box {
  background: #eceffe;
  border-radius: 10px;
  padding: 10px 5px;
  text-align: center;
}

.interaction-icon {
  height: 60px;
  width: 60px;
  text-align: center;
  padding: 50px 30px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: black;
  -webkit-mask-size: 100% !important;
  mask-size: 100% !important;
}

.interaction-actions {
  text-align: center;
  width: 100%;
  margin-top: -12px;
  margin-bottom: 10px;
}

.interaction-notification {
  display: inline-block;
  position: absolute;
  top: -20px;
  right: -6px;
  background-color: var(--secondary);
  border-radius: 100%;
  color: white;
  font-weight: 600;
  width: 40px;
  padding: 4px 2px;
  font-size: 1.35rem;
  z-index: 1000;
}

.interaction-actions img {
  width: 20px;
  height: auto;
  margin-top: -4px;
}

.interaction-actions button {
  border-radius: 100%;
  padding: 6px 8px;
  display: inline-block;
  max-width: 60px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.interaction-actions button:focus {
  outline: none;
}

.interaction-actions button:hover {
  box-shadow: 2px 1px 4px rgb(179 179 179 / 50%);
}

.interaction-actions button .ng-fa-icon {
  padding: 3px 1px;
  font-size: 1.4rem;
  line-height: 1rem;
  display: block;
  color: white !important;
}

.interaction-actions .btn-outline-primary {
  background-color: white;
}

.interaction-label {
  font-weight: 600;
  font-size: 1.05rem;
}

.disabled {
  opacity: 0.4;
}

.disabled .action,
.disabled .interaction-notification {
  display: none;
}

.row {
  margin: 0;
}
