.icon-note {
  display: block;
  width: 22px;
  height: 22px;
  text-align: center;
  box-sizing: border-box;
  background-color: #ffffff;
  -webkit-mask-size: 80% !important;
  mask-size: 80% !important;
}

.notif-notes {
  position: relative;
  top: -8px;
  width: 17px;
  height: 17px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  background-color: #50e3c2;
  border-radius: 50%;
  text-align: center;
  color: #26353f;
}
