.notif-notes {
  position: relative;
  width: 18px;
  height: 18px;
  line-height: 120%;
  font-size: 0.9rem;
  background-color: var(--text-active-blue-france);
  border-radius: 50%;
  text-align: center;
  color: white;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.7rem;
}
