.number {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 8px;
  display: block;
  background: #fff;
  border: 1px solid var(--text-active-blue-france);
  color: var(--text-active-blue-france);
  text-align: center;
}

.note-separator {
  margin: 0 auto;
  width: 1px;
  border-left: 2px solid var(--text-active-blue-france);
  min-height: 45px;
  height: 100%;
}

* {
  word-break: break-word;
}

.note-historique:last-child .note-separator {
  display: none !important;
}
