.number {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 8px;
  display: block;
  background: #fff;
  border: 1px solid var(--bs-primary);
  color: var(--bs-primary);
  text-align: center;
}

.icon-note {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  box-sizing: border-box;
  background-color: #4164f5;
  -webkit-mask-size: 80% !important;
  mask-size: 80% !important;
}

.note-separator {
  margin: 0 auto;
  width: 1px;
  border-left: 2px solid rgba(65, 100, 245, 0.1);
  min-height: 45px;
  height: 100%;
}

* {
  word-break: break-word;
}

.note-historique:last-child .note-separator {
  display: none !important;
}
