.chips {
  border-radius: 4px 4px 0 0;
  border-bottom: 2px solid
    var(--light-decisions-border-border-plain-grey, #3a3a3a);
  background: var(--light-decisions-background-background-contrast-grey, #eee);
}
