kind: ConfigMap
apiVersion: v1
metadata:
  name: backend-configmap
data:
  DOMIFA_ENV_ID: k8s-dev
  DOMIFA_ENV_PRESET: dist.preset.env
  PGSSLMODE: "require"
  NODE_ENV: production
  DOMIFA_PRINT_CONFIG: "true"
  DOMIFA_TYPEORM_CREATE_DATABASE: "true"
  # emails redirigés vers l'adresse configurée pour DOMIFA_EMAIL_ADDRESS_REDIRECT_ALL_TO
  DOMIFA_EMAILS_ENABLE: "true"
  DOMIFA_SMS_ENABLED: "false"
