.stats-charts-container {
  background: #f6f7ff;
  border: 1px solid rgba(65, 100, 245, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
  min-height: 200px;
}

.selected-stats,
.charts-section {
  background: #ffffff !important;
  border: 1px solid rgba(72, 107, 255, 0.2) !important;
  box-sizing: border-box;
}

.stats-section {
  display: block;
  cursor: pointer;
  width: 100%;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
}

.stats-section-counter {
  color: var(--bs-primary);
  font-weight: 700;
  font-size: 2rem;
}

#charts {
  height: 440px;
  width: 97%;
  display: block;
  position: relative;
  background: #ffffff;
}

.tick {
  color: var(--bs-primary);
}
