.stats-counter {
  font-weight: bold;
  color: var(--bs-primary);
  font-size: 2.5rem;
  line-height: 2.5rem;
  min-width: 100px;
  min-height: 30px;
}

.sub-stats-number {
  color: var(--bs-primary);
  min-width: 40px;
  font-weight: 600;
}

.region-list {
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
  font-size: 1.05rem;
  list-style-type: none;
}

li span,
li a {
  vertical-align: middle;
  display: inline-block;
}

li a:hover {
  color: var(--bs-primary);
}

li a {
  color: black;
}

.region-name {
  width: 270px;
}

.breadcrumb {
  background: #f6f7ff;
}
