.dropdown-toggle {
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: left;
  min-width: 200px;
  background: #f9f9fc;
  color: #4a4a4a;
  border: 1px solid #cfcfd9;
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  word-break: break-word;
}

.statut-cpt {
  font-style: normal !important;
  margin-right: 10px;
  font-weight: normal !important;
}

.btn-outline-dark:focus,
.btn-outline-dark:hover,
.btn-dark {
  color: white;
  border-color: white;
  background-color: #4a4a4a;
}

.btn-outline-dark {
  border-color: #4a4a4a;
  color: #4a4a4a;
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100% 200%;
  display: block;
  width: 100%;
  min-height: 80vh;
  background-image: linear-gradient(to bottom, #f2f2f2, transparent);
  z-index: 50;
}

.content-overlay div {
  margin: 50px auto;
  text-align: center;
}

.content-overlay span {
  width: 300px;
  line-height: 100%;
  color: var(--bs-primary);
  font-size: 1.3rem;
  font-weight: 600;
}

#filters .btn fa-icon {
  margin-left: 4px;
}

.cross:hover {
  background-color: white;
  color: var(--bs-primary);
}

.cross {
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 0.85rem;
  line-height: 100%;
  background-color: var(--bs-primary);
  color: white;
}

#table-container {
  max-width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

.container {
  position: relative;
}

#search-bar {
  max-width: 450px;
  width: 100%;
  font-size: 0.95rem;
  display: inline-block;
  position: relative;

  input {
    padding: 8px 8px 8px 40px;
    height: 44px;
    background: #f4f5f7;
    border: none;
    color: #1a191a;
    letter-spacing: 0;
    width: 100%;
    border-radius: 0 5px 5px 0;
  }

  input:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5) !important;
  }

  input::placeholder {
    color: #7e7e7e;
    font-weight: 500;
  }

  label {
    color: white;
  }
}

#search-bar span,
#search-bar button {
  display: block;
  position: absolute;
  top: 0;
  padding: 0.5rem;
  background: transparent !important;
  font-size: 1.3rem;
}

#searchIcon {
  left: 0;
  color: #959595;
}

#deleteSearchIcon {
  top: 0;
  right: 2px;
  color: black;
  cursor: pointer;
}

#deleteSearchIcon:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

#dropdownSearch {
  padding: 8px 8px 8px 40px;
}

#dropdownSearchString button.dropdown-toggle {
  border-right: 1px solid #959595;
  border-radius: 5px 0 0 5px;
  min-width: 280px;
  max-width: 100%;
  height: 44px;
}

@media all and (max-width: 520px) {
  #search-bar input,
  #dropdownSearchString button {
    border-radius: 6px !important;
    width: 100%;
  }
  .dropdown-item {
    font-size: 0.9rem;
    padding: 0.6rem;
  }
}
