#import-table table {
  min-width: 6500px;
}

#import-table td:nth-child(n + 3) {
  min-width: 220px;
}

#import-table th {
  border-top: none;
  vertical-align: middle;
}

#import-table th:first-child,
#import-table td:first-child {
  position: sticky;
  left: 0;
  width: 60px;
}

#import-table tbody tr:nth-of-type(odd) th:first-child,
#import-table tbody tr:nth-of-type(odd) td:first-child {
  background-color: #f1f2f1 !important;
}

#import-table tbody tr:nth-of-type(even) th:first-child,
#import-table tbody tr:nth-of-type(even) td:first-child {
  background-color: white !important;
}

#import-table {
  margin: 20px auto;
  overflow-x: scroll;
  border: 1px solid #dbdbdb;
}

#import-table .required:after {
  color: red;
  content: " *";
}

#import-menu .btn {
  margin-top: 0.5rem;
  width: 350px;
  margin-left: auto;
  display: block;
  margin-right: auto;
}

#fileExcel {
  display: none;
}

.separateur {
  min-width: 140px;
}

.separateur_inactive {
  min-width: 140px;
}

.step div {
  max-width: 120px;
}

#upload-zone .ng-fa-icon {
  font-size: 4rem;
  line-height: 0;
  display: block;
  padding-bottom: 10px;
}

#upload-zone {
  text-align: center;
  border-radius: 2px;
  padding: 25px 40px;
  max-width: 500px;
  margin: 0 auto;
  font-weight: normal;
  cursor: pointer;
}

#upload-zone:hover {
  border-color: var(--blue);
  box-shadow: 0 1px 6px 0 rgba(124, 124, 124, 0.15);
  border: 1px solid var(--primary);
}

.upload-ok {
  border: 1px dotted var(--primary);
  color: var(--primary);
}
.upload-error {
  border: 1px dotted var(--danger);
  color: var(--danger);
}

#errors-list {
  margin: 20px auto;
  padding: 15px 10px;
  border: 1px solid var(--danger);
}
