.sjs-table td {
  min-width: 150px;
}

#import-table table {
  min-width: 1800px;
  table-layout: fixed;
}
#import-table {
  width: 1200px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  margin: 10px auto;

  overflow-x: scroll;
}

#import-table .required:after {
  color: red;
  content: " *";
}
