#import-table table {
  min-width: 6500px;
}

#import-table td {
  min-width: 40px;
}

#import-table th {
  border-top: none;
  vertical-align: middle;
}

#import-table {
  margin: 40px auto;
  overflow-x: scroll;
}

#import-table .required:after {
  color: red;
  content: " *";
}

#import-menu .btn {
  margin-top: 0.5rem;
  width: 350px;
  margin-left: auto;
  display: block;
  margin-right: auto;
}

#fileExcel {
  display: none;
}
