#rapport table tr .soustable {
  padding-left: 40px !important;
}

#rapport table tr th:first-child,
#rapport table tr td:first-child {
  width: 93%;
}

#rapport table tr th:last-child,
#rapport table tr td:last-child {
  width: 6%;
}

#rapport {
  max-width: 900px;
  margin: 20px auto;
}

.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
