#rapport table tr .soustable {
  padding-left: 40px !important;
}

#rapport table tr th:first-child,
#rapport table tr td:first-child {
  width: 93%;
}

#rapport table tr th:last-child,
#rapport table tr td:last-child {
  width: 6%;
}

#rapport {
  max-width: 900px;
  margin: 20px auto;
}

.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(49, 139, 218);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
