#import-table {
  max-height: 50vh;
  overflow: auto;
  border: 1px solid var(--border-default-grey);

  table {
    min-width: 6500px;
  }

  td:nth-child(n + 3) {
    min-width: 220px;
  }

  th:first-child,
  td:first-child {
    position: sticky;
    left: 0;
    width: 60px;
    background-color: var(--background-default-grey);
  }

  tbody tr:nth-of-type(odd) td:first-child {
    background-color: var(--background-alt-grey);
  }

  .required::after {
    color: var(--text-default-error);
    content: " *";
  }
}

.cell--error {
  background-color: var(--background-contrast-error) !important;
}

#errors-list {
  border: 1px solid var(--border-plain-error);
}
