.notification {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  width: 20px;
  height: 20px;
  background-color: var(--background-action-high-error);
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  font-weight: 700;
}

.interaction-buttons {
  display: flex;
  align-items: center;
}

.interaction-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(65, 100, 245, 0.4);
  box-sizing: border-box;
  margin: 0 0.2rem;
  padding: 0rem 0.3rem;
  position: relative;
  background-color: var(--background-default-grey);

  span {
    font-size: 1.4rem;
  }

  [class^="fr-icon-"]::before,
  [class^="fr-icon-"]::after,
  [class*="fr-icon-"]::before,
  [class*="fr-icon-"]::after,
  [class^="fr-fi-"]::before,
  [class^="fr-fi-"]::after,
  [class*="fr-fi-"]::before,
  [class*="ri-"]::before,
  [class*="fr-fi-"]::after {
    --icon-size: 1.4rem;
    height: 1.4rem;
  }
}

.interaction-btn:hover {
  color: var(--text-inverted-grey);
  background-color: var(--text-active-blue-france);
  box-shadow: 0 0 0 0.25rem rgba(179, 179, 179, 0.5);
}

.interaction-btn:disabled {
  border: 1px solid rgba(122, 122, 122, 1);
  position: relative;
  box-sizing: border-box;
  cursor: progress;
}

.distribution-tooltip {
  span {
    vertical-align: middle;
    display: inline-block;
  }
}
