@layer dsfr-personnalization {
  .fr-width-2-5rem {
    width: 2.5rem;
  }
}

$primary: #4164f5;
$bs-primary: #4164f5;
$secondary: #50e3c2;
$bs-secondary: #50e3c2;

// scss-docs-start color-variables
$blue: #4164f5 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #e2081e !default;
$orange: #c25700 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

// scss-docs-start input-btn-variables
$input-btn-padding-y: 0.55rem !default;
$input-btn-padding-x: 0.8rem !default;

// scss-docs-start table-variables
$table-cell-padding-y: 0.8rem !default;
$table-cell-padding-x: 0.6rem !default;

$font-family-sans-serif: "Marianne", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
$font-family-monospace: "Marianne", SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

@layer bootstrap, dsfr, dsfr-personnalization;
@import "node_modules/bootstrap/scss/bootstrap.scss" layer(bootstrap);
@import "@gouvfr/dsfr/dist/dsfr.min.css" layer(dsfr);
@import "@gouvfr/dsfr/dist/utility/utility.min.css" layer(dsfr);

@layer dsfr-personnalization {
  .fr-callout--empty {
    background-color: var(--background-default-grey-hover);
    background-image: linear-gradient(
      0deg,
      var(--text-mention-grey),
      var(--text-mention-grey)
    );
  }

  .fr-modal__title {
    margin-bottom: 1rem;
  }

  a.fr-link:has(img),
  a.fr-link:has(img):visited,
  a.fr-link:has(img):hover {
    background-image: none;
    border: none;
  }

  .fr-input-group.required .fr-label::after {
    content: " *";
    color: var(--text-default-error);
  }

  .fr-checkbox-group.required label:after {
    content: " *";
    color: var(--text-default-error);
  }

  .fr-select-group.required label:after {
    content: " *";
    color: var(--text-default-error);
  }

  .fr-background-color-default-grey-hover {
    background-color: var(--background-default-grey-hover);
  }

  .fr-content-container {
    padding-top: 2rem;
    --hover: var(--background-alt-blue-cumulus-hover) !important;
    --active: var(--background-alt-blue-cumulus-active) !important;
    background-color: var(--background-alt-blue-cumulus) !important;
  }

  .fr-content-container-light {
    --hover: var(--background-alt-blue-cumulus-hover) !important;
    --active: var(--background-alt-blue-cumulus-active) !important;
    background-color: var(--background-alt-blue-cumulus) !important;
  }

  .fr-content {
    padding: 1.5rem 2.2rem;
    --hover: var(--background-default-grey-hover) !important;
    --active: var(--background-default-grey-active) !important;
    background-color: var(--background-default-grey) !important;
    border-radius: 0.5rem;
    display: block;
  }
}
