#home-header .home-header-content h1 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
#home-header h1 .home-header-subtitle {
  font-size: 1rem;
}
@media (min-width: 576px) {
  #home-header .home-header-content h1 {
    font-size: 1.8rem;
    line-height: 2.1rem;
  }
  #home-header h1 .home-header-subtitle {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  #home-header .home-header-content h1 {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  #home-header h1 .home-header-subtitle {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  #home-header .home-header-content h1 {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }
  #home-header h1 .home-header-subtitle {
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  #home-header .home-header-content h1 {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }
  #home-header h1 .home-header-subtitle {
    font-size: 1.6rem;
  }
}

.text-gray {
  color: #777;
}
ul.check-list {
  padding: 0;
}
ul.check-list li {
  list-style: none;
}

ul.check-list li::before {
  content: "\2713";
  padding-right: 0.51em;
  font-weight: bold;
  color: #4164f5;
}

.big_number {
  display: block;
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 4rem;
  padding: 1rem 0;
  text-align: center;
}

#team b {
  display: block;
}

#team img {
  display: block;
  max-height: 150px;
  margin-bottom: 20px;
}

.counter-title {
  font-weight: 500;
  font-size: 1.2rem;
}

.ministere-logo-home {
  height: 120px;
  width: auto;
}

@media all and (max-width: 1024px) {
  h1 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0.4rem auto;
  }
}

.hero {
  background-color: var(--primary);
  padding: 3rem 1rem;
  text-align: center;
  color: white;
}

.structure-logo {
  height: 60px;
}

h2 span,
h2 img {
  vertical-align: middle;
}

h2 img {
  width: 32px;
  height: auto;
}
