ul {
  list-style: none;
  padding: 0;
}

.counter-title {
  font-weight: 500;
  font-size: 1.05rem;
}

.hero-icon {
  width: 170px;
  height: auto;
}
.partenaires img {
  height: 80px;
  width: auto;
  margin: 1rem;
}

@media only screen and (max-width: 600px) {
  .partenaires img {
    height: 66px !important;
    width: auto !important;
    margin: 0.8rem !important;
  }

  #home-header .home-header-content h1 {
    font-size: 1.8rem;
  }

  #home-header h1 .home-header-subtitle {
    font-size: 1.2rem;
  }
}
