h2 {
  font-size: 1.65rem;
}

h2 span,
h2 img {
  vertical-align: middle;
}

h2 img {
  width: 32px;
  height: auto;
}

h3 {
  font-size: 1.45rem;
}

#home-header .home-header-content img {
  width: 200px;
}

#home-header .home-header-content h1 {
  font-size: 2.5rem;
}

#home-header h1 .home-header-subtitle {
  font-size: 1.6rem;
}

.max-w-200 {
  max-width: 260px;
}

.text-gray {
  color: #1a1a1a;
}

ul.check-list {
  padding: 0;
}

ul.check-list li {
  list-style: none;
}

ul.check-list li::before {
  content: "\2713";
  padding-right: 0.51em;
  font-weight: bold;
  color: #4164f5;
}

.counter-title {
  font-weight: 500;
  font-size: 1.05rem;
}

.partenaires img {
  height: 80px;
  width: auto;
  margin: 1rem;
}

.btn-light {
  color: var(--bs-primary) !important;
}

.bg-secondary-light {
  background: rgba(80, 227, 194, 0.1);
}

@media only screen and (max-width: 600px) {
  .partenaires img {
    height: 66px !important;
    width: auto !important;
    margin: 0.8rem !important;
  }

  #home-header .home-header-content h1 {
    font-size: 1.8rem;
  }

  #home-header h1 .home-header-subtitle {
    font-size: 1.2rem;
  }
}
