.overlay {
  position: fixed;
  z-index: 999;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 2s;
}

.overlay div {
  position: absolute;
  top: 35%;
  left: 40%;
  text-align: center;
}

.spinner {
  font-size: 5rem;
  color: var(--primary);
  -webkit-text-stroke-width: 25px;
  stroke-width: 25px;
  -webkit-text-stroke-color: white;
  stroke: white;
  display: block;
  margin-bottom: 10px;
}

.overlay span {
  width: 300px;
  display: block;
  line-height: 100%;
  color: var(--primary);
  font-size: 1.1rem;
}
