.login-page {
  &_form-section {
    flex-direction: column-reverse;
    @media (min-width: 576px) {
      flex-direction: row;
      min-height: 756px;
    }

    @media (min-width: 768px) {
      flex-direction: row;
      min-height: 756px;
    }
    background: var(--light-decisions-background-background-alt-grey, #f6f6f6);
  }

  &_faq-section {
    padding: var(--sds-size-space-1200) var(--sds-size-space-4000);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--sds-size-space-800);
    align-self: stretch;
  }

  &_contact-section {
    display: flex;
    padding: var(--sds-size-space-1200) var(--sds-size-space-4000);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--sds-size-space-800);
    align-self: stretch;
    background: var(
      --light-options-illustration-color-950-default-blue-cumulus-950,
      #e6eefe
    );
  }
}

.content-container {
  gap: 10rem;
  padding: var(--sds-size-space-300) var(--sds-size-space-600);

  &_text {
    display: none;
  }

  .img-fluid {
    height: auto;
    max-width: 50%;
  }

  @media (min-width: 576px) {
    &_text {
      display: block;
    }
    .img-fluid {
      height: auto;
      max-width: 100%;
    }
    padding: var(--sds-size-space-1600);
  }

  @media (min-width: 768px) {
    &_text {
      display: block;
    }
    .img-fluid {
      height: auto;
      max-width: 100%;
    }
    padding: var(--sds-size-space-1600);
  }
}

.form-container {
  --title-spacing: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--sds-size-space-600);
  padding-bottom: var(--sds-size-space-600);
  &_form-element {
    dsfr-form-input,
    dsfr-form-passowrd {
      width: 24rem;
    }
    display: flex;
    width: 24rem;
    padding: 3.5rem 0;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}

.form-check-label {
  width: 90%;
}

.indications div {
  padding-top: 5px;
}

.indications {
  padding: 5px;
}

.indications .ng-fa-icon {
  margin-right: 5px;
}
