.navbar {
  border: 1px solid #e0e0e0;
  background-color: white;
  box-shadow: 0 0 8px 2px rgba(215, 210, 210, 0.4);
  padding: 0.25rem 0;
}

.navbar .nav--menu-breadcrumb {
  color: #1a1a1a;
}

.navbar img.ministere-logo {
  height: 60px;
  width: auto;
}

.navbar img.domifa-logo {
  height: 20px;
  width: auto;
}

.navbar .btn {
  margin: 5px;
}

.home-header-image {
  width: auto;
  height: 102px;
}

#nom-asso {
  vertical-align: middle;
  display: inline-block;
  margin-top: -6px;
  margin-left: 16px;
  border-left: 1px solid #4164f5;
  padding-left: 14px;
  font-style: normal;
  font-weight: 600;
  color: black;
  letter-spacing: 0;
  text-align: center;
}

#matomo-info a {
  color: #292929;
  text-decoration: underline;
}

#matomo-info {
  text-align: center;
  width: 100%;
  background-color: #bcd1ff;
  border-color: #5193f5;
  padding: 10px 15px;
  font-size: 0.9rem;
  display: block;
}

@media (min-width: 576px) {
  .navbar > a {
    display: inline-block;
  }
}
