.navbar {
  border: 1px solid #e0e0e0;
  background-color: white;
  box-shadow: 0 0 8px 2px rgba(215, 210, 210, 0.4);
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  margin-bottom: 100px;
}

.navbar .nav--menu-breadcrumb {
  color: #cecece;
}

.navbar img.ministere-logo {
  height: 60px;
  width: auto;
}

.navbar img.domifa-logo {
  height: 20px;
  width: auto;
}

.navbar .btn {
  margin: 5px;
}

#nom-asso {
  vertical-align: middle;
  display: inline-block;
  margin-top: -6px;
  margin-left: 16px;
  border-left: 1px solid #4164f5;
  padding-left: 14px;
  font-style: normal;
  font-weight: 600;
  color: black;
  letter-spacing: 0;
  text-align: center;
}

.dropdown-menu {
  border-radius: 0;
  padding: 0;
  border-color: #9b9b9b;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #4a4a4a;
  min-width: 200px;
  border-bottom: 1px solid #9b9b9b;
}

.dropdown-item:last-child {
  border: 0 !important;
}

.dropdown-item .ng-fa-icon {
  margin-right: 10px;
}
