version: '3'
services:
  mongo:
    image: "mongo:4.0"
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: "mongo"
      MONGO_INITDB_ROOT_PASSWORD: "mongo"
      MONGO_INITDB_DATABASE: "pdc-local"
    volumes:
      - ./db/mongo:/data/db
    networks:
      - front
      - back

