@font-face {
  font-family: "Marianne";
  src: url("../fonts/Marianne/Marianne-Regular.woff2") format("woff2"),
    url("../fonts/Marianne/Marianne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: url("../fonts/Marianne/Marianne-Medium.woff2") format("woff2"),
    url("../fonts/Marianne/Marianne-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Marianne";
  src: url("../fonts/Marianne/Marianne-Bold.woff2") format("woff2"),
    url("../fonts/Marianne/Marianne-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Marianne";
  src: url("../fonts/Marianne/Marianne-Regular_Italic.woff2") format("woff2"),
    url("../fonts/Marianne/Marianne-Regular_Italic.woff") format("woff");
  font-style: italic;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.35rem;
  margin: 1.2rem 0;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 1.2rem 0;
}

h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1.1rem 0;
}
