.fr-password__checkbox label:after {
  display: none !important;
}

label:has(input[required])::after {
  content: "*";
  color: var(--error-425-625);
  margin-left: 4px;
  font-weight: bold;
}

.fr-checkbox-group.required label:after {
  content: " *";
  color: var(--text-default-error);
}

.fr-select-group.required label:after {
  content: " *";
  color: var(--text-default-error);
}

.fr-input-group:has(input[required]) .fr-label::after,
.fr-checkbox-group:has(input[required]) label::after,
.fr-select-group:has(select[required]) label::after {
  content: " *";
  color: var(--text-default-error);
}

// Button for date with "ng-bootstrap"
.fr-date-input {
  position: relative;
  margin-top: 0.5rem;

  .date-btn {
    bottom: 0.5rem;
    right: 0.3rem;
    position: absolute;
    background-color: transparent;
  }
}

.empty-hint,
p.fr-hint-text {
  min-height: 1.3rem;
  margin-bottom: 1rem;
}

// Icons for titles
h2 i,
h3 i {
  color: var(--text-active-blue-france);
}

h2 img {
  width: 54px;
  height: auto;
}

// Spin for loading
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fr-icon-spin {
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-right: 0.5rem;
}
