.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.custom-file-label {
  overflow: hidden;
  font-weight: 400 !important;
}

input[type="radio"]:checked + label {
  color: var(--blue);
}

.form-group.required label:not(.custom-file-label):after {
  content: " *";
  color: red;
}

form label {
  color: #4a4a4a;
  cursor: pointer;
  font-weight: 600;
}

.invalid-feedback-custom {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.indications div {
  padding-top: 5px;
}

.indications {
  padding: 5px;
}

.indications .ng-fa-icon {
  margin-right: 5px;
}

.modal-body .form-check {
  padding: 0 0 0 1.75rem;
  cursor: pointer;
  width: 100%;
}

.modal-body .form-check-input {
  font-weight: 300;
  margin-top: 10px;
}

.input-group-append .btn .ng-fa-icon {
  margin: 0 !important;
}

#structureForm div.btn {
  margin: 10px 15px;
  padding: 0;
}

#structureForm input[type="radio"]:checked + label {
  color: white !important;
}

#structureForm .btn label {
  color: var(--blue);
  margin: 0;
  padding: 12px 22px;
}

#structureForm .btn label:hover {
  color: white !important;
}

.btn-white-primary {
  background-color: #ffffff;
  color: #4164f5;
  box-shadow: 0 2px 2px #2f4ece;
  border-radius: 3px;
}

.btn-white-primary:hover {
  background-color: #e7e7e7;
  color: #2444c5;
  border: 1px solid rgba(65, 100, 245, 0.3);
}

.modal-body .form-check label {
  font-weight: 300;
  margin-left: 5px;
  padding: 6px 0;
  width: 100%;
}

.modal-body .invalid-feedback {
  display: block !important;
}

#upload-zone .ng-fa-icon {
  font-size: 4rem;
  line-height: 0;
  display: block;
  padding-bottom: 10px;
}

#upload-zone {
  text-align: center;
  border-radius: 2px;
  padding: 25px 40px;
  max-width: 500px;
  margin: 0 auto;
  font-weight: normal;
  cursor: pointer;
}

#upload-zone:hover {
  border-color: var(--blue);
  box-shadow: 0 1px 6px 0 rgba(124, 124, 124, 0.15);
  border: 1px solid var(--primary);
}

.upload-ok {
  border: 1px dotted var(--primary);
  color: var(--primary);
}

.upload-error {
  border: 1px dotted var(--danger);
  color: var(--danger);
}
