.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.custom-file-label {
  overflow: hidden;
  font-weight: 400 !important;
}

input[type="radio"]:checked + label {
  color: var(--blue);
}

.form-group.required label:after {
  content: " *";
  color: red;
}

form label {
  color: #4a4a4a;
  cursor: pointer;
  font-weight: 600;
}

.invalid-feedback-custom {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.passwordInput {
  position: relative;
}

.eye {
  position: absolute;
  top: 33px;
  right: 16px;
  padding: 6px 12px;
  background-color: #fcfcfc;
  cursor: pointer;
  border-radius: 4px;
}

.indications div {
  padding-top: 5px;
}

.indications {
  padding: 5px;
}

.indications .ng-fa-icon {
  margin-right: 5px;
}

.modal-body .form-check {
  padding: 0 0 0 1.75rem;
  cursor: pointer;
  width: 100%;
}

.modal-body .form-check-input {
  font-weight: 300;
  margin-top: 10px;
  width: 100%;
}

.row .btn .ng-fa-icon {
  margin-right: 7px;
}

.input-group-append .btn .ng-fa-icon {
  margin: 0 !important;
}
