.svg-icon {
  min-height: 20px;
  min-width: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.icon-plus {
  -webkit-mask: url("../icones/plus.svg") no-repeat center;
  mask: url("../icones/plus.svg") no-repeat center;
  min-height: 28px;
  min-width: 24px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: white;
}

.icon-moins {
  min-height: 28px;
  min-width: 24px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: white;
  -webkit-mask: url("../icones/moins.svg") no-repeat center;
  mask: url("../icones/moins.svg") no-repeat center;
}

.icon-courrier {
  -webkit-mask: url("../icones/courrier.svg") no-repeat center;
  mask: url("../icones/courrier.svg") no-repeat center;
}

.icon-colis {
  -webkit-mask: url("../icones/colis.svg") no-repeat center;
  mask: url("../icones/colis.svg") no-repeat center;
}

.icon-recommande {
  -webkit-mask: url("../icones/recommande.svg") no-repeat center;
  mask: url("../icones/recommande.svg") no-repeat center;
}

.icon-avis-passage {
  -webkit-mask: url("../icones/avispassage.svg") no-repeat center;
  mask: url("../icones/avispassage.svg") no-repeat center;
}

.icon-appel {
  -webkit-mask: url("../icones/phone.svg") no-repeat center;
  mask: url("../icones/phone.svg") no-repeat center;
}

.icon-passage {
  -webkit-mask: url("../icones/passage.svg") no-repeat center;
  mask: url("../icones/passage.svg") no-repeat center;
}

.icon-distribution {
  -webkit-mask: url("../icones/distribution.svg") no-repeat center;
  mask: url("../icones/distribution.svg") no-repeat center;
}

.icon-reception {
  -webkit-mask: url("../icones/reception.svg") no-repeat center;
  mask: url("../icones/reception.svg") no-repeat center;
}

.icon-arrow {
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.38467 11L6 5.99896L1.38467 1L1 1.41689L5.23031 5.99972L1 10.5839L1.38467 11Z' fill='%23333333' stroke='%23333333'/%3E%3C/svg%3E%0A");
}
