html,
body {
  height: 100%;
  font-family: "Marianne";
}

html {
  font-size: 90%;
}

ul {
  margin-bottom: 0;
}

.content {
  background-color: #f2f2f2;
  min-height: calc(90vh - 78px);
  padding-bottom: 4rem;
}

.page-content {
  background-color: white;
  border-radius: 3px;
}

#page {
  min-height: calc(90vh - 78px);
  overflow-x: hidden;
}

.container {
  max-width: 1350px;
}

.modal-backdrop.show {
  opacity: 0.75;
}

.modal-content {
  animation-name: fadeIn;
  animation-duration: 300ms;
}

.npai {
  -webkit-text-stroke-width: 0;
  stroke-width: 0;
  color: var(--bs-danger) !important;
}

.bg-primary-light {
  background: #f6f7ff;
}

.pointer {
  cursor: pointer;
}

.active {
  color: var(--bs-primary);
}

table .active {
  color: #8393a7;
  text-decoration: underline;
}

.step_form {
  background-color: white;
  padding: 1.8rem 1.4rem;
  max-width: 850px;
  margin: 1rem auto;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.tooltip-inner {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  color: black;
  box-shadow: 0 1px 8px rgba(72, 93, 183, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.06);
  font-size: 0.9rem !important;
  max-width: 280px;
  font-weight: 600;
  padding: 8px 14px;
}

.title {
  font-weight: 700;
}

.subtitle {
  font-weight: 600;
}

.reponses {
  margin-bottom: 15px;
  margin-top: 15px;
  vertical-align: middle;
}

.reponses .question {
  color: var(--bs-primary);
  font-size: 1.1rem;
  font-weight: 600;
}

.reponses .valeur {
  display: block;
  font-weight: bold;
  color: #4a4a4a;
  font-weight: 400;
  word-break: break-word;
}

.label,
legend {
  display: block;
  font-style: normal;
  font-weight: 600;
  padding: 6px 0;
  font-size: 1rem;
}

.form-check label {
  font-weight: 300;
  margin-left: 5px;
}

.questions {
  margin: 15px auto;
}

.questions .form-check {
  display: inline-block;
  margin-bottom: 12px;
  min-width: 345px;
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.notification {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  width: 20px;
  height: 20px;
  background-color: var(--bs-red);
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  font-weight: 700;
}

.ngb-dp-day.disabled,
.ngb-dp-day.hidden {
  color: #bbbbbb;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(49, 139, 218);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.head-page {
  background-color: var(--bs-primary);
  width: 100%;
}

.head-page .title,
.head-page h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.7rem;
  color: #ffffff;
}

.statut-signal {
  border-radius: 100%;
  margin-right: 6px;
  width: 10px;
  height: 10px;
}

.statut-label a,
.statut-label {
  font-style: normal;
  font-weight: 600;
  color: #282828;
  letter-spacing: 0;
}

.selected-section .statut-label {
  color: var(--bs-primary);
}

.selected-section {
  background-color: white !important;
  box-shadow: 0 0 5px rgba(50, 66, 124, 0.1);
}

.danger-status .statut-date,
.warning-status .statut-date {
  font-weight: bold;
}

.danger-status td:first-child {
  border-left: 4px solid var(--bs-red) !important;
}
.warning-status td:first-child {
  border-left: 4px solid var(--warning) !important;
}

.statut-signal.d-none {
  display: none;
}

.statut-signal .statut-date {
  font-weight: bold;
}

#statut-selector .col:first-child {
  border-radius: 5px 0 0 0;
}

#statut-selector .col:last-child {
  border-radius: 0 5px 0 0;
}

#statut-selector .col {
  padding: 1rem 1.1rem;
  margin: 0;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 -1px 2px 0 rgba(65, 100, 245, 0.2);
}

#statut-selector {
  box-shadow: 0 1px 3px rgba(50, 66, 124, 0.1);
}

.filter-part {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-style: normal;
  font-weight: 600;
}

.label-statut {
  border-radius: 50px;
  padding: 4px 15px;
  margin: 2px auto;
  text-align: center;
  max-width: 150px;
}

.label-statut span {
  display: block;
  font-size: 0.85rem;
  font-weight: 400;
}

.red-status {
  background-color: #ffe5dd;
  color: #b51515;
}

.green-status {
  background-color: #ecf9a2;
  color: black;
}

.orange-status {
  background-color: #feedd1;
  color: black;
}

.grey-status {
  background-color: #efefef;
  color: black;
}

.label-info {
  border-radius: 50px;
  padding: 3px 12px;
  margin: 2px;
  min-width: 100px;
  text-align: center;
  display: inline-block;
  font-size: 0.85rem;
  position: relative;
  font-style: normal;
  font-weight: normal;
}

.label-info span {
  display: block;
  font-size: 0.85rem;
}

.label-danger {
  background-color: #ffe5dd;
  color: #b51515;
  min-width: 135px;
}

.label-green {
  background-color: #d4f4ed;
  color: black;
}

.label-yellow {
  background-color: #feedd1;
  color: black;
}

.text-underline {
  text-decoration: underline;
}

.doc-icon {
  padding: 0.4rem 1.2rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 6px;
  display: inline-block;
  background-color: #ecefff;
}

.file-image {
  color: #782f08;
}
.file-pdf {
  color: #fe3b31;
}
.file-word {
  color: #017aff;
}
.file-excel {
  color: #33c75a;
}

.upload-table td {
  vertical-align: middle;
  border-bottom: 1px solid #eceffe;
}

.spinner {
  font-size: 5rem;
  color: var(--bs-primary);
  -webkit-text-stroke-width: 25px;
  stroke-width: 25px;
  -webkit-text-stroke-color: white;
  stroke: white;
  display: block;
  margin-bottom: 10px;
}

.skeleton:empty {
  border-radius: 4px;
  animation: loading 1s infinite linear;
  background: #dedfe1;
  background-image: -webkit-linear-gradient(
    to right,
    #dedfe1 0%,
    #f2f3f5 20%,
    #dedfe1 40%,
    #dedfe1 100%
  );
  background-image: linear-gradient(
    to right,
    #dedfe1 0%,
    #f2f3f5 20%,
    #dedfe1 40%,
    #dedfe1 100%
  );
  width: 100%;
  background-repeat: no-repeat;
}

@keyframes loading {
  0% {
    background-position: -100px;
  }
  100% {
    background-position: 500px;
  }
}

.pulse-button {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border: none;
  box-shadow: 0 0 0 0 rgba(35, 224, 161, 0.7);
  border-radius: 50%;
  background-color: var(--bs-secondary);
  cursor: pointer;
  -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 8px rgba(232, 76, 61, 0);
  }
}
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 8px rgba(232, 76, 61, 0);
  }
}
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 8px rgba(232, 76, 61, 0);
  }
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 8px rgba(232, 76, 61, 0);
  }
}
