html,
body {
  height: 100%;
}

body {
  font-family: "Source Sans Pro";
}

ul {
  margin-bottom: 0;
}

.content {
  background-color: #f2f2f2;
  min-height: 100vh;
}

.page-content {
  background-color: white;
  border-radius: 3px;
}
#page {
  padding-top: 62px;
  min-height: 90vh;
  /*background-color: #f2f2f2;*/
}

.container {
  max-width: 1350px;
}

.card-header {
  padding: 0;
  margin-bottom: 0;
  background-color: white;
  border-radius: 1px;
}

.card-header button:hover {
  background-color: #f1f1f1;
}

.card-header button {
  padding: 7px 16px;
  background-color: #fafafa;
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  transition: 0.5s all;
  color: #2e384d;
}

.accordion .card {
  margin: 12px auto;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0.25rem !important;
  max-width: 900px;
}

.modal-backdrop.show {
  opacity: 0.75;
}

.modal-content {
  animation-name: fadeIn;
  animation-duration: 300ms;
}

.alert {
  max-width: 900px;
  width: 98%;
  margin: 10px auto;
}

.bannir {
  -webkit-text-stroke-color: var(--danger);
  stroke: var(--danger);
}

.bannir:hover {
  color: var(--danger) !important;
}

.npai {
  -webkit-text-stroke-width: 0;
  stroke-width: 0;
  color: var(--danger) !important;
}

.courrier {
  -webkit-text-stroke-color: #c62bd9;
  stroke: #c62bd9;
  color: white;
}

.courrier:hover {
  color: #c62bd9 !important;
}

.pointer {
  cursor: pointer;
}

.active {
  color: var(--primary);
}

table .active {
  color: #8393a7;
  text-decoration: underline;
}

.table tbody + tbody {
  border-top: 1px solid #dee2e6;
}

.step_form {
  padding: 1.8rem 1.4rem;
  border: 1px solid #d2d2d2;
  max-width: 850px;
  margin: 1rem auto;
  border-radius: 3px;
}

.tooltip-inner {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  color: black;
  box-shadow: 0 1px 8px rgba(72, 93, 183, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.06);
  font-size: 0.9rem !important;
  max-width: 280px;
  font-weight: 600;
  padding: 8px 14px;
}

.title {
  font-weight: 700;
}

.subtitle {
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}

.text-warning2 {
  color: #e08b01;
}

.arrows {
  text-align: right;
}

.head-panel .btn {
  position: relative;
}

.head-panel .arrows {
  position: absolute;
  right: 20px;
}

.step_form .card {
  margin: 15px auto;
  width: 90%;
}

.reponses {
  margin: 15px auto;
  vertical-align: middle;
}

.reponses .question {
  color: #212529;
  text-transform: uppercase;
  font-size: 0.95rem;
}

.reponses .valeur {
  display: block;
  font-weight: bold;
  color: #4a4a4a;
  word-break: break-word;
}

.label {
  display: block;
  font-weight: 600;
  padding: 10px 0;
}

.autres {
  display: inline-block;
  width: 220px;
  margin-left: 10px;
  margin-top: -15px;
}

.form-check label {
  font-weight: 300;
  margin-left: 5px;
}

.questions {
  margin: 15px auto;
}

.questions .form-check {
  display: inline-block;
  margin-bottom: 12px;
  min-width: 345px;
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.modal-header h4 {
  margin: 2px 0;
}

.notification {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  width: 20px;
  height: 20px;
  background-color: #ff6b6b;
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 12px;
  line-height: 20px;

  color: #fff;
  font-weight: 700;
}

.news {
  margin: 10px 0;
  display: block;
}

.ngb-dp-day.disabled,
.ngb-dp-day.hidden {
  color: #bbbbbb;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(49, 139, 218);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.step * {
  transition: all 0.3s ease;
}

.step {
  display: inline-block;
  max-width: 200px;
}

.step div {
  display: inline-block;
  max-width: 80px;
  vertical-align: top;
  transition: all 0.25s;
}

#steps {
  max-width: 800px;
  margin: 1.5rem auto;
  text-align: center;
  min-height: 90px;
}

.step_number {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: block;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid var(--blue);
  color: var(--blue);
  font-size: 1.2rem;
  text-align: center;
}

.step_text {
  word-break: break-word;
  display: block;
  padding-top: 12px;
  font-size: 0.9rem;
  line-height: 1.1rem;
  position: absolute;
  text-align: center;
  margin-left: -40px;
  width: 120px;
}

.step_text_active {
  font-weight: 600;
  color: var(--blue);
}

.step_text_inactive {
  color: #afafaf;
  border-color: #afafaf;
  background-color: white;
  cursor: not-allowed;
}

.step_menu {
  padding: 1rem;
  border: 1px solid #d2d2d2;
  max-width: 750px;
  margin: 1rem auto;
  border-radius: 4px;
}

.step_inactive {
  color: #afafaf;
  border-color: #afafaf;
  background-color: white;
  cursor: not-allowed;
}
.step_active {
  background-color: var(--blue);
  color: white;
  cursor: pointer;
}

.step_check {
  padding-top: 6px;
  background-color: white;
  border-color: var(--success);
  color: var(--success);
  cursor: pointer;
}

.separateur {
  border-bottom: 1px solid var(--blue);
  min-width: 100px;
  width: 100%;
  display: block;
  height: 20px;
  margin: 0;
}

.separateur_inactive {
  border-bottom: 1px solid #afafaf;
  min-width: 100px;
  width: 100%;
  display: block;
  height: 20px;
  margin: 0;
}

.check_sep .separateur {
  border-color: var(--success);
}

/* REDESIGN */
/* PARTIE BLEU FICHE + LISTE */
.head-page {
  background-color: var(--primary);
  width: 100%;
  min-height: 80px;
  padding-top: 40px;
}

.head-page .title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #ffffff;
}

.statut-signal {
  border-radius: 100%;
  margin-right: 6px;
  width: 10px;
  height: 10px;
}

.statut-signal.bg-danger,
.statut-signal.bg-warning {
  display: inline-block;
  vertical-align: middle;
}
.statut-signal .statut-date {
  font-weight: bold;
}

#statut-selector .col:first-child {
  border-radius: 5px 0 0 0;
  font-family: Source Sans Pro;
}

#statut-selector .col:last-child {
  border-radius: 0 5px 0 0;
}

#statut-selector .col {
  padding: 1rem 1.2rem;
  margin: 0;
  font-size: 1.05rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 -1px 2px 0 rgba(65, 100, 245, 0.2);
}

#statut-selector .col span {
  vertical-align: middle;
}

#statut-selector {
  box-shadow: 0 1px 3px rgba(50, 66, 124, 0.1);
}

.filter-part {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-style: normal;
  font-weight: 600;
}

.label-statut {
  border-radius: 50px;
  padding: 4px 15px;
  margin: 2px auto;
  display: block;
  width: 100%;
  text-align: center;
  max-width: 150px;
}

.label-statut span {
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
}

.red-status {
  background-color: #ffe5dd;
  color: #b51515;
}

.green-status {
  background-color: #ecf9a2;
  color: #282828;
}

.orange-status {
  background-color: #feedd1;
  color: #282828;
}

.grey-status {
  background-color: #efefef;
  color: #282828;
}
