.tooltip.show {
  opacity: 1 !important;
}

.tooltip-inner {
  background: #ffffff !important;
  border: 1px solid #e6e6e6;
  color: black;
  max-width: 310px;
  font-weight: 600;
  padding: 0.5rem 1rem;

  p {
    margin: 0;
    padding: 0.3rem 0.2rem;
  }

  ul {
    list-style-type: circle;
    padding-left: 1.2rem;
    text-align: left;
  }
  li {
    padding: 0;
    margin: 0;
  }
}

.reponses {
  margin-bottom: 1.05rem;
  margin-top: 1.05rem;
  vertical-align: middle;

  .question {
    color: var(--text-active-blue-france);
    font-size: 1.1rem;
    font-weight: 600;
  }
  .valeur {
    display: block;
    color: #4a4a4a;
    font-weight: 400;
    word-break: break-word;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.notification {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  width: 20px;
  height: 20px;
  background-color: var(--bs-danger);
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  font-weight: 700;
}

.spinner {
  font-size: 5rem;
  color: var(--text-active-blue-france);
  -webkit-text-stroke-width: 25px;
  stroke-width: 25px;
  -webkit-text-stroke-color: white;
  stroke: white;
  display: block;
  margin-bottom: 10px;
}

@keyframes loading {
  0% {
    background-position: -100px;
  }
  100% {
    background-position: 500px;
  }
}
