html,
body {
  height: 100%;
}

body {
  font-family: "Source Sans Pro";
}
ul {
  margin-bottom: 0;
}

.navbar {
  border: 1px solid #e0e0e0;
  background-color: white;
  box-shadow: 0 0px 8px 2px rgba(215, 210, 210, 0.4);
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  margin-bottom: 100px;
}

.navbar img {
  max-height: 36px;
  width: auto;
}

.navbar .btn {
  margin: 5px;
}

#nom-asso {
  font-weight: 600;
  color: var(--green);
  vertical-align: top;
  display: inline-block;
  margin-top: -2px;
  margin-left: 18px;
  border-left: 1px solid #486bff;
  padding-left: 10px;
}

#page {
  padding-top: 80px;
  min-height: 75vh;
}

.page-footer div {
  display: inline-block;
  min-width: 80px;
  padding: 0.5rem 1rem;
  vertical-align: middle;
  font-size: 0.85rem;
}

.page-footer img {
  max-height: 40px;
}

.page-footer {
  text-align: center;
  margin-top: 100px;
  width: 100%;
  padding: 0.5rem 3rem;
  border: 1px solid #e6e6e6;
}

.btn-white {
  background-color: white;
  border-radius: 6px;
  transition: all 0.25s;
}

.btn-white:hover {
  color: white;
}

.btn-white.primary {
  border: 1px solid var(--blue);
  color: var(--blue);
}

.btn-white.secondary {
  border: 1px solid var(--green);
  color: var(--green);
}

.btn-white.primary:hover {
  color: white;
  background-color: var(--blue);
}

.btn-white.secondary:hover {
  color: white;
  background-color: var(--green);
}

.hero {
  background-color: var(--primary);
  padding: 3rem 1rem;
  text-align: center;
  color: white;
}

.section {
  padding: 1.5rem 0;
}

.container {
  margin: 20px auto;
  max-width: 1150px;
}

.card-header {
  padding: 0;
  margin-bottom: 0;
  background-color: white;
  border-radius: 2px;
}

.card-header button:hover {
  background-color: #f1f1f1;
}
.card-header button {
  padding: 10px 20px;
  background-color: #fafafa;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  color: black;
}

.accordion .card {
  margin: 12px auto;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0.25rem !important;
  max-width: 900px;
}

.modal-dialog {
  max-width: 600px;
  width: 96%;
}

.alert {
  max-width: 900px;
  width: 98%;
  margin: 10px auto;
}

.appel {
  -webkit-text-stroke-color: var(--secondary);
  stroke: var(--secondary);
}

.appel:hover {
  color: var(--secondary) !important;
}

.visite {
  -webkit-text-stroke-color: var(--primary);
  stroke: var(--primary);
}

.visite:hover {
  color: #4668ff !important;
}

.courrier {
  -webkit-text-stroke-color: #c62bd9;
  stroke: #c62bd9;
  color: white;
}

.courrier:hover {
  color: #c62bd9 !important;
}

.pointer {
  cursor: pointer;
}

.active {
  color: var(--primary);
}

table .active {
  color: #8393a7;
  text-decoration: underline;
}

.step_form {
  padding: 2rem 1.5rem;
  border: 1px solid #d2d2d2;
  max-width: 750px;
  margin: 1rem auto;
  border-radius: 4px;
}

.recap {
  max-width: 750px;
  margin: 1rem auto;
  display: block;
}

.tooltip-inner {
  background-color: #faf8f8;
  border: 0.5px solid #ece7e7;
  font-size: 0.85rem !important;
  color: rgb(95, 107, 122);
  max-width: 280px;
  padding: 4px 8px;
}

.title {
  font-weight: 700;
}

.subtitle {
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}

.text-warning2 {
  color: #e08b01;
}

.arrows {
  text-align: right;
}

.head-panel .btn {
  position: relative;
}

.head-panel .arrows {
  position: absolute;
  right: 20px;
}

.step * {
  transition: all 0.3s ease;
}

.step {
  display: inline-block;
  max-width: 200px;
}

.step div {
  display: inline-block;
  max-width: 80px;
  vertical-align: top;
  transition: all 0.25s;
}

#steps {
  max-width: 800px;
  margin: 0 auto 3rem auto;
  text-align: center;
}

.step_number {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: block;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid var(--blue);
  color: var(--blue);
  font-size: 1.2rem;
  text-align: center;
}

.step_text {
  word-break: break-word;
  display: block;
  padding-top: 12px;
  font-size: 0.9rem;
  line-height: 1.1rem;
  position: absolute;
  text-align: center;
  margin-left: -40px;
  width: 120px;
}

.step_text_active {
  font-weight: 600;
  color: var(--blue);
}

.step_text_inactive {
  color: #afafaf;
  border-color: #afafaf;
  background-color: white;
  cursor: not-allowed;
}

.step_menu {
  padding: 1rem;
  border: 1px solid #d2d2d2;
  max-width: 750px;
  margin: 1rem auto;
  border-radius: 4px;
}

.step_inactive {
  color: #afafaf;
  border-color: #afafaf;
  background-color: white;
  cursor: not-allowed;
}
.step_active {
  background-color: var(--blue);
  color: white;
  cursor: pointer;
}

.step_check {
  padding-top: 6px;
  background-color: white;
  border-color: var(--success);
  color: var(--success);
  cursor: pointer;
}

.separateur {
  border-bottom: 1px solid var(--blue);
  min-width: 100px;
  width: 100%;
  display: block;
  height: 20px;
  margin: 0;
}

.separateur_inactive {
  border-bottom: 1px solid #afafaf;
  min-width: 100px;
  width: 100%;
  display: block;
  height: 20px;
  margin: 0;
}

.check_sep .separateur {
  border-color: var(--success);
}

.step_form .card {
  margin: 15px auto;
  width: 90%;
  cursor: pointer;
}
