@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
    margin: 0 auto !important;
    padding: 0 !important;
    background-color: white;
  }
  @page {
    size: A4 !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  #page,
  .container {
    width: 100% !important;
    max-width: 10000px !important;
    padding: 0 !important;
    margin: 0 !important;
    clear: both;
    display: block;
  }

  .impression,
  #courrier-radiation {
    width: 100% !important;
    font-size: 13pt !important;
    margin: 0 auto !important;
    border: 0 !important;
    box-shadow: none !important;
    display: table;
    table-layout: fixed;
    max-width: 10000px !important;
    padding-top: 2cm !important;
    padding-bottom: 2cm !important;
    padding-left: 1.5cm !important;
    padding-right: 1.5cm !important;
  }

  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }

  a:not(.btn) {
    text-decoration: underline;
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #adb5bd;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  header,
  footer,
  #steps,
  #help-button,
  .not-print,
  .navbar {
    display: none !important;
  }

  .badge {
    border: 1px solid #000;
  }

  .table {
    border-collapse: collapse !important;
  }

  .table td,
  .table th {
    background-color: #fff !important;
  }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6 !important;
  }

  .table-dark {
    color: inherit;
  }

  .table-dark th,
  .table-dark td,
  .table-dark thead th,
  .table-dark tbody + tbody {
    border-color: #dee2e6;
  }

  .table .thead-dark th {
    color: inherit;
    border-color: #dee2e6;
  }

  .col-md-4,
  .responses {
    width: 30% !important;
    display: inline-block !important;
  }
}
