.stats-counter {
  font-size: 3.3rem !important;
  margin: 1rem 0;
}

.stats-counter-description {
  font-size: 1.1rem;
  font-weight: 600;
}

.impact-stats-section {
  background: url("/assets/images/impact/fond-impact-humain.svg") top center
    no-repeat;
  max-width: 100%;
  background-size: 23rem;
}

video {
  width: 100%;
  height: auto;
}

@media all and (max-width: 480px) {
  .stats-counter {
    font-size: 3rem !important;
  }

  .impact-stats-section > div {
    padding: 10px;
  }
  .impact-stats-section img {
    max-width: 90%;
  }
  .impact-stats-section {
    min-height: 400px;

    background-size: 400px;
  }
}
