.impact-stats-section {
  background: url("/assets/images/impact/fond-impact-humain.svg") top center
    no-repeat;
  max-width: 100%;
  background-size: 23rem;
}

video {
  width: 100%;
  height: auto;
}

@media all and (max-width: 480px) {
  .impact-stats-section > div {
    padding: 10px;
  }
  .impact-stats-section img {
    max-width: 90%;
  }
  .impact-stats-section {
    min-height: 400px;

    background-size: 400px;
  }
}
