html,
body {
  background-color: #f9f9fc;
}

html {
  font-size: 82%;
  font-family: "Marianne", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#page {
  min-height: 60vh;
  background-color: #f9f9fc;
  overflow-x: hidden;
}

.container {
  max-width: 1350px;
}

.modal-backdrop.show {
  opacity: 0.75;
}

.modal-content {
  animation-name: fadeIn;
  animation-duration: 300ms;
}

.pointer {
  cursor: pointer;
}

.active {
  color: var(--primary);
}

.tooltip-inner {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  color: black;
  box-shadow: 0 1px 8px rgba(72, 93, 183, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.06);
  font-size: 0.9rem !important;
  max-width: 280px;
  font-weight: 600;
  padding: 8px 14px;
}

.title {
  font-weight: 700;
}

.subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 140%;
}

.section-icon {
  width: 40px;
  padding-left: 5px;
}

.section-icon img {
  height: 22px;
  width: auto;
}

.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.35rem;
  padding: 0.5rem 1rem;
  color: var(--primary);
}

.section-subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
  color: var(--primary);
}

.section-content {
  border-top: 2px solid var(--primary);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  padding: 1rem;
  background-color: white;
}

.section-tab {
  border-radius: 0;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.content {
  background-color: #f2f2f2;
  min-height: calc(90vh - 78px);
  padding-bottom: 4rem;
}

.page-content {
  background-color: white;
  border-radius: 3px;
}

.head-page .title,
.head-page h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.7rem;
  color: #ffffff;
}

.doc-icon {
  padding: 0.4rem 1.2rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 6px;
  display: inline-block;
  background-color: #eceffe;
}

.file-image {
  color: #ffc031;
}
.file-pdf {
  color: #fe3b31;
}
.file-word {
  color: #017aff;
}
.file-excel {
  color: #33c75a;
}
.upload-table th {
  border: none;
}

.upload-table td {
  vertical-align: middle;
  border-bottom: 1px solid #eceffe;
}

.dropdown-item {
  border-bottom: 1px solid rgb(211, 211, 211) !important;
  font-size: 1.05rem;
  padding: 0.8rem !important;
  min-width: 190px;
}

.dropdown-item .ng-fa-icon {
  width: 30px;
  display: inline-block;
}

footer {
  width: 100%;
  border-top: 1px solid #e6e6e6;
}

footer img.ministere-logo {
  max-height: 100px;
  width: auto;
}
footer .menu-breadcrumb {
  color: #1a1a1a;
  padding-left: 10px;
  padding-right: 10px;
}

.head-page {
  background-color: var(--bs-primary);
  width: 100%;
}

caption {
  color: black;
}
