button {
  outline: none;
  border: none;
  padding: 0;
}

button:disabled {
  color: #3b3b3b;
}

button:focus {
  border: 1px solid black;
}
.step * {
  transition: all 0.3s ease;
}

.step {
  display: inline-block;
  max-width: 200px;
}

.step div {
  display: inline-block;
  max-width: 80px;
  vertical-align: top;
  transition: all 0.25s;
}

.step_number {
  cursor: pointer;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 6px 0;
  background-color: #fff;
  border: 1px solid var(--primary);
  color: var(--blue);
  font-size: 1.2rem;
}

.step_text {
  word-break: break-word;
  display: block;
  padding-top: 12px;
  font-size: 0.85rem;
  line-height: 1.1rem;
  position: absolute;
  text-align: center;
  margin-left: -40px;
  width: 120px;
}

.step_text_inactive {
  color: #3b3b3b;
  border-color: #3b3b3b;
  background-color: transparent;
  cursor: not-allowed;
}

.step_inactive {
  color: #3b3b3b;
  border-color: #3b3b3b;
  background-color: white;
  cursor: not-allowed;
}
.step_active {
  background-color: var(--blue);
  color: white;
  cursor: pointer;
}

.step_check {
  padding-top: 6px;
  background-color: white;
  border-color: var(--success);
  color: var(--success);
  cursor: pointer;
}

.separateur {
  border-bottom: 1px solid var(--blue);
  min-width: 100px;
  width: 100%;
  display: block;
  height: 20px;
  margin: 0;
}

.separateur_inactive {
  border-bottom: 1px solid #3b3b3b;
  min-width: 100px;
  width: 100%;
  display: block;
  height: 20px;
  margin: 0;
}

.check_sep .separateur {
  border-color: var(--success);
}
