.interaction-icon-box {
  background: #e3e6fd;
  border-radius: 5px;
  padding: 12px;
  text-align: center;
}

.interaction-icon {
  height: 35px;
  width: 35px;
  text-align: center;
  box-sizing: border-box;
  background-color: #4164f5;
  -webkit-mask-size: 80% !important;
  mask-size: 80% !important;
}

.btn:hover .list-icon {
  background-color: white;
}

.profil-interaction {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.profil-interaction p,
.profil-interaction div {
  font-size: 1.05rem;
  align-self: center;
  margin: 0;
}

button:not(:disabled) .list-icon-disabled {
  display: none;
}

button:disabled .list-icon {
  display: none;
}

button:disabled {
  cursor: progress;
}

.list-icon-disabled {
  padding: 0.2rem 0.5rem;
}

.alert .ng-fa-icon {
  display: table-cell;
  font-size: 1.8rem;
  min-width: 35px;
  word-break: break-all;
}
