/*
.form-group {
  margin-bottom: 1rem;
}

.form-group.required .control-label:after {
  content: "*";
  color: var(--bs-danger);
}

input[type="radio"]:checked + label {
  color: var(--bs-blue);
}

.form-group.required label:after {
  content: " *";
  color: var(--bs-danger);
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

form label {
  color: #4a4a4a;
  cursor: pointer;
  font-weight: 600;
}

.invalid-feedback-custom {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.95rem;
  color: var(--bs-danger);
}
.modal-body .form-check {
  padding: 0 0 0 1.75rem;
  cursor: pointer;
  width: 100%;
}

.modal-body .form-check-input {
  font-weight: 300;
  margin-top: 10px;
}

.input-group-text button {
  margin: 0 !important;
  padding: 0 !important;
  border: none;
}

.input-group-text .btn .ng-fa-icon {
  margin: 0 !important;
}

.btn-white-primary {
  background-color: #ffffff;
  color: #4164f5;
  box-shadow: 0 2px 2px #2f4ece;
  border-radius: 3px;
}

.btn-white-primary:hover {
  background-color: #e7e7e7;
  color: #2444c5;
  border: 1px solid rgba(65, 100, 245, 0.3);
}

.modal-body .form-check label {
  font-weight: 300;
  margin-left: 5px;
  padding: 6px 0;
  width: 100%;
}

.modal-body .invalid-feedback {
  display: block !important;
}
  */
