/* Important : as it removes asterisk for show password label */
.fr-password__checkbox label:after {
  display: none !important;
}

.fr-input-group.required .fr-label::after {
  content: " *";
  color: var(--text-default-error);
}
