html,
body {
  height: 100%;
  font-family: "Marianne", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  font-size: 90%;
}

#page {
  background-color: #f9f9fc;
  min-height: calc(80vh - 70px);
  overflow-x: hidden;
}

.content {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.container {
  max-width: 1350px;
}

.modal-backdrop.show {
  opacity: 0.75;
}

.modal-content {
  animation-name: fadeIn;
  animation-duration: 300ms;
}

.pointer {
  cursor: pointer;
}

.active {
  color: var(--bs-primary);
}

.tooltip-inner {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  color: black;
  box-shadow: 0 1px 8px rgba(72, 93, 183, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.06);
  font-size: 0.9rem !important;
  max-width: 280px;
  font-weight: 600;
  padding: 8px 14px;
}

.title {
  font-weight: 700;
}

.subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 140%;
}

.section-icon {
  width: 40px;
  font-size: 1.2rem;
  color: var(--bs-primary);
  padding-left: 5px;
}

.section-icon img {
  height: 22px;
  width: auto;
}

.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.35rem;
  padding: 0.5rem 1rem;
  color: var(--bs-primary);
}

.section-subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.25rem 0;
  color: var(--bs-primary);
}

.section-content {
  border-top: 2px solid var(--bs-primary);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  padding: 1rem;
  background-color: white;
}

.head-page {
  background-color: var(--bs-primary);
  width: 100%;
}

.head-page h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.7rem;
  color: #ffffff;
}

.page-content {
  background-color: white;
  border-radius: 3px;
}
