html,
body {
  height: 100%;
  background-color: #f2f2f2;
}

html {
  font-size: 90%;
  font-family: "Marianne";
}

.content {
  background-color: #f2f2f2;
  min-height: 100vh;
}

.page-content {
  background-color: white;
  border-radius: 3px;
}

#page {
  min-height: 90vh;
  overflow-x: hidden;
}

.container {
  max-width: 1350px;
}

.modal-backdrop.show {
  opacity: 0.75;
}

.modal-content {
  animation-name: fadeIn;
  animation-duration: 300ms;
}

.pointer {
  cursor: pointer;
}

.active {
  color: var(--primary);
}

.tooltip-inner {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  color: black;
  box-shadow: 0 1px 8px rgba(72, 93, 183, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.06);
  font-size: 0.9rem !important;
  max-width: 280px;
  font-weight: 600;
  padding: 8px 14px;
}

.title {
  font-weight: 700;
}

.subtitle {
  font-weight: 600;
}

.section-content {
  border-top: inset 0 2px 0 #4164f5;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  padding: 1rem 0.5rem;
}

.section-tab {
  border-radius: 0;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
