html,
body {
  height: 100%;
  font-family: "Marianne", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  font-size: 90%;
}

#page {
  background-color: #f9f9fc;
  min-height: calc(80vh - 70px);
  overflow-x: hidden;
}

.content {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.modal-backdrop.show {
  opacity: 0.75;
}

.modal-content {
  animation-name: fadeIn;
  animation-duration: 300ms;
}

.pointer {
  cursor: pointer;
}

.active {
  color: var(--bs-primary);
}

.tooltip-inner {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  color: black;
  box-shadow: 0 1px 8px rgba(72, 93, 183, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.06);
  font-size: 0.9rem !important;
  max-width: 280px;
  font-weight: 600;
  padding: 8px 14px;
}

.title {
  font-weight: 700;
}

.section-icon {
  width: 40px;
  font-size: 1.2rem;
  color: var(--bs-primary);
  padding-left: 5px;
}

.section-icon img {
  height: 22px;
  width: auto;
}

.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.35rem;
  color: var(--bs-primary);
}

.section-subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.25rem 0;
  color: var(--bs-primary);
}

.section-content {
  border-top: 2px solid var(--bs-primary);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 1rem;
  background-color: white;
}

.head-page {
  background-color: var(--bs-primary);
  width: 100%;
}

.head-page h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.7rem;
  color: #ffffff !important;
}

.page-content {
  background-color: white;
  border-radius: 3px;
}

.alert {
  position: relative;
  display: flex;
  align-items: left;
  justify-content: left;
  word-break: break-word;
  padding: 0.75rem;

  div,
  span {
    padding-left: 5px;
    flex-shrink: 1;
    align-self: center;
  }
  p {
    margin: auto 0 !important;
  }

  .svg-icon {
    display: table-cell;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    padding: 6px;
    box-sizing: border-box;
    -webkit-mask-size: 98%;
    mask-size: 98%;
  }
}

.close {
  opacity: 1 !important;
}

.modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.alert-warning .svg-icon {
  background-color: #f0870c;
}

.alert-danger .svg-icon {
  background-color: #f00c0c;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-success hr {
  border-top-color: #b1dfbb;
}

.alert-success .alert-link {
  color: #0b2e13;
}

.alert-info {
  color: #000000;
  background-color: #e1ecff;
  border-color: #a4c7ff;
}

.alert-info hr {
  border-color: #a4c7ff;
}
.alert-info .svg-icon {
  background-color: var(--bs-primary);
}

.alert-info .alert-link {
  color: #062c33;
}

.alert-warning {
  color: black;
  background-color: #fff9f4;
  border-color: #ffe1c6;
}

.alert-warning hr {
  border-top-color: #ffe1c6;
}

.alert-warning .alert-link {
  color: #533f03;
}

.alert-danger {
  color: black;
  background-color: #fff4f5;
  border-color: #ffcccf;
}

.alert-danger hr {
  border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
  color: #491217;
}

#modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 720px;
    margin: 1.75rem auto;
  }
}
