:root {
  // Simple Design System Spacing
  --sds-size-space-200: 0.5rem;
  --sds-size-space-300: 0.75rem;
  --sds-size-space-400: 1rem;
  --sds-size-space-600: 1.5rem;
  --sds-size-space-800: 2rem;
  --sds-size-space-1200: 2.5rem;
  --sds-size-space-1600: 4rem;
  --sds-size-space-4000: 10rem;
}
