.interaction-icon-box {
  background: #eceffe;
  border-radius: 5px;
  padding: 12px;
  text-align: center;
}

.interaction-icon {
  height: 35px;
  width: 35px;
  text-align: center;
  box-sizing: border-box;
  background-color: #4164f5;
  -webkit-mask-size: 80% !important;
  mask-size: 80% !important;
}

.btn:hover .list-icon {
  background-color: white;
}

.profil-interaction {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.profil-interaction div {
  font-size: 1.05rem;
  align-self: center;
}

.label-info {
  display: inline-block;
  padding: 4px 4px;
  margin: 2px auto;
  text-align: center;
  max-width: 150px;
}

.label-info div {
  font-size: 0.9rem !important;
}

.text-link {
  text-decoration: underline;
  font-weight: bold;
}

button:not(:disabled) .list-icon-disabled {
  display: none;
}

button:disabled .list-icon {
  display: none;
}

button:disabled {
  border: 1px solid rgba(122, 122, 122, 1);
  position: relative;
  font-size: 1.2rem;
  box-sizing: border-box;
  cursor: progress;
}

.list-icon-disabled {
  padding: 0.2rem 0.5rem;
}
