.step * {
  transition: all 0.3s ease;
}

.step {
  display: inline-block;
  max-width: 200px;
}

.step div {
  display: inline-block;
  max-width: 80px;
  vertical-align: top;
  transition: all 0.25s;
}

.step_number {
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: block;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid var(--blue);
  color: var(--blue);
  font-size: 1.2rem;
  text-align: center;
}

.step_text {
  word-break: break-word;
  display: block;
  padding-top: 12px;
  font-size: 0.9rem;
  line-height: 1.1rem;
  position: absolute;
  text-align: center;
  margin-left: -40px;
  width: 120px;
}

.step_text_active {
  font-weight: 600;
  color: var(--blue);
}

.step_text_inactive {
  color: #afafaf;
  border-color: #afafaf;
  background-color: white;
  cursor: not-allowed;
}

.step_menu {
  padding: 1rem;
  border: 1px solid #d2d2d2;
  max-width: 750px;
  margin: 1rem auto;
  border-radius: 4px;
}

.step_inactive {
  color: #afafaf;
  border-color: #afafaf;
  background-color: white;
  cursor: not-allowed;
}
.step_active {
  background-color: var(--blue);
  color: white;
  cursor: pointer;
}

.step_check {
  padding-top: 6px;
  background-color: white;
  border-color: var(--success);
  color: var(--success);
  cursor: pointer;
}

.separateur {
  border-bottom: 1px solid var(--blue);
  min-width: 100px;
  width: 100%;
  display: block;
  height: 20px;
  margin: 0;
}

.separateur_inactive {
  border-bottom: 1px solid #afafaf;
  min-width: 100px;
  width: 100%;
  display: block;
  height: 20px;
  margin: 0;
}

.check_sep .separateur {
  border-color: var(--success);
}
