.form-check label {
  font-weight: 300;
  margin-left: 5px;
  padding: 6px 0;
  width: 100%;
}

.reponses {
  margin: 10px auto;
}

.reponses .question {
  font-weight: bold;
}

.reponses .valeur {
  display: block;
}
