.card_selected,
.card:hover,
.card:focus {
  cursor: pointer;
  transition: all 0.15s;
  border-color: var(--blue);
  box-shadow: 0 1px 6px 0 rgba(124, 124, 124, 0.15);
  z-index: 900;
}

.card {
  width: 90%;
  max-width: 600px;
  padding: 5px 10px;
  margin: 5px auto;
}
