#manage {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

#filters {
  padding: 10px 0;
}

#filters .row * {
  vertical-align: middle;
}

#filters .row {
  margin: 15px 0;
}

#filters button {
  margin: 0 5px;
}

#filters span {
  color: #4a4a4a;
  width: 100px;
  padding-top: 5px;
}

#filters button b {
  background-color: white;
  color: #4a4a4a;
  border-radius: 100px;
  padding: 0px 8px;
  margin-left: 3px;
  margin-top: -5px;
  margin-right: -5px;
  display: inline-block;
}

#filters .btn {
  border-radius: 100px;
  padding: 5px 25px;
  font-size: 0.88rem;
  font-weight: 500;
}

.btn-outline-dark:hover,
.btn-dark {
  color: white;
  border-color: white;
  background-color: #9b9b9b;
}

.btn-outline-dark {
  border-color: #9b9b9b;
  color: #4a4a4a;
}

#searchbar {
  margin-top: 5px;
  position: relative;
}

#searchbar input {
  padding: 10px 80px 10px 20px;
  height: 46px;
  border-radius: 45px;
  border: 1px solid var(--primary);
}

#searchbar span {
  display: block;
  position: absolute;
  font-size: 18px;
}

#search_icon {
  right: 0;
  top: 0;
  min-width: 30px;
  padding: 9px 16px 9px 10px;
  background-color: var(--primary);
  color: white;
  border-radius: 0 45px 45px 0;
  cursor: pointer;
}

#times_icon {
  top: 10px;
  right: 65px;
  color: rgb(43, 43, 43);
  cursor: pointer;
}

.table-name {
}

table {
  border-collapse: separate;
  border-spacing: 0 9px;
  margin: 0 auto;
}

tbody td,
tbody th {
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  vertical-align: middle;
  padding: 6px 5px;
  height: 52px;
}

tbody td:first-child,
tbody th:first-child {
  padding: 6px 12px;
  border-left: 1px solid #d2d2d2;
  border-radius: 4px 0px 0 4px;
}

tbody td:nth-child(2),
tbody th:nth-child(2) {
  min-width: 220px;
}

tbody td:last-child,
tbody th:last-child {
  border-right: 1px solid #d2d2d2;
  padding: 6px 12px;
  text-align: right;
  border-radius: 0 4px 4px 0;
}

tbody tr {
  transition: all 0.2s;
  border-radius: 6px;
}

tbody tr:hover {
  background-color: #fff;
  outline: 0;
  border-color: white;
  cursor: pointer;
  box-shadow: 0 0 0 5px rgba(179, 179, 179, 0.3),
    0 0 0 1px rgba(104, 104, 104, 0.25);
}

thead th {
  opacity: 0.9;
  font-weight: 500;
  padding-bottom: 10px;
}

thead td,
th {
  font-size: 1rem;
  border: none !important;
  padding: 0;
  vertical-align: bottom;
}

.icones_liste {
  width: 220px;
}

.icones_liste span {
  font-size: 1.65rem;
  color: white;
  -webkit-text-stroke-width: 20px;
  stroke-width: 20px;
  transition: all 0.3s;
  cursor: pointer;
  margin-right: 25px;
  display: inline-block;
  position: relative;
}

.icones_liste span:hover {
  -webkit-text-stroke-width: 10px;
  stroke-width: 10px;
}

.letter {
  display: none;
}
.letter:hover,
.letter td:hover {
  border: none;
  box-shadow: 0 0 0 white !important;
  background: white;
}

.letter td {
  border: none !important;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 0;
  height: 13px;
  padding: 15px 0 0 2px;
  color: #505d68;
  opacity: 0.8;
}

.usager_informations span {
  padding: 5px 15px;
  opacity: 0.8;
  border-radius: 50px;
}

.sort-structures label {
  min-width: 150px;
  padding-top: 8px;
  padding-right: 20px;
  font-weight: 500;
  text-align: right;
}

.sort-structures {
  margin: 0;
}

#usagers-list {
  position: relative;
}

.content-overlay {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  min-height: 800px;
  min-height: 100%;
  background-color: white;
  z-index: 4000;
}

.content-overlay div {
  margin: 50px auto;
  text-align: center;
}

.spinner {
  font-size: 4rem;
  color: var(--primary);
  -webkit-text-stroke-width: 20px;
  stroke-width: 20px;
  -webkit-text-stroke-color: white;
  stroke: white;
  margin-bottom: 10px;
}

.content-overlay span {
  width: 300px;
  line-height: 100%;
  color: var(--primary);
  font-size: 1.1rem;
}
