#manage {
  width: 96%;
  max-width: 1350px;
  margin: 0 auto;
}

#filters-btn div {
  margin: 0 !important;
  padding: 0 !important;
}

#filters-btn span {
  font-size: 0.95rem;
  padding-bottom: 5px;
  display: block;
}

#filters-btn {
  margin-top: 20px;
  margin-bottom: 45px;
}

#filters-btn .btn {
  font-size: 0.97rem;
  min-width: 125px;
}

#filters-btn .btn-outline-dark {
  border-color: #9b9b9b;
}

#filters {
  padding: 10px 0;
}

#filters div {
  padding: 5px 0;
  margin: 2px 5px;
  cursor: pointer;
  transition: all 0.1s;
}

.filter-dark {
  border-bottom: 1px solid #4a4a4a;
  color: #4a4a4a;
}

.filter-danger {
  border-bottom: 3px solid var(--danger);
  font-weight: bold;
  color: var(--danger);
}

.filter-warning {
  border-bottom: 3px solid var(--warning);
  font-weight: bold;
  color: var(--warning);
}

.filter-primary {
  border-bottom: 3px solid var(--primary);
  font-weight: bold;
  color: var(--primary);
}

.filter-secondary {
  border-bottom: 3px solid var(--secondary);
  font-weight: bold;
  color: var(--secondary);
}

#filters .btn {
  border-radius: 100px;
  padding: 5px 25px;
  font-size: 0.88rem;
  font-weight: 500;
}

.btn-outline-dark:hover,
.btn-dark {
  color: white;
  border-color: white;
  background-color: #4a4a4a;
}

.btn-outline-dark {
  border-color: #4a4a4a;
  color: #4a4a4a;
}

#searchbar {
  margin-top: 10px;
  width: 98%;
  margin: 30px auto;
  max-width: 500px;
  position: relative;
}

#searchbar input {
  padding: 10px 10px 10px 40px;
  height: 46px;
  border-radius: 6px;
  border: 1px solid #9b9b9b;
}

#searchbar span {
  display: block;
  position: absolute;
  font-size: 18px;
}

#search_icon {
  left: 0;
  top: 0;
  min-width: 30px;
  padding: 9px 16px 9px 10px;
  color: #9b9b9b;
  cursor: pointer;
}

#times_icon {
  top: 9px;
  right: 15px;
  color: rgb(43, 43, 43);
  cursor: pointer;
}

table {
  border-collapse: separate;
  border-spacing: 0 9px;
  margin: 0 auto;
}

tbody td,
tbody th {
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  vertical-align: middle;
  padding: 6px 5px;
  height: 52px;
  min-width: 40px;
}

tbody td:first-child,
tbody th:first-child {
  padding: 6px;
  border-left: 1px solid #d2d2d2;
  border-radius: 4px 0 0 4px;
}

tbody td:nth-child(2),
tbody th:nth-child(2) {
  min-width: 220px;
  max-width: 420px;
}

tbody td:last-child,
tbody th:last-child {
  border-right: 1px solid #d2d2d2;
  padding: 6px 12px;
  text-align: right;
  border-radius: 0 4px 4px 0;
  min-width: 200px;
  max-width: 400px;
}
tbody td:last-child span,
tbody th:last-child span {
  display: block;
}

tbody tr {
  transition: all 0.2s;
  border-radius: 6px;
}

tbody tr:hover {
  background-color: #fff;
  outline: 0;
  border-color: white;
  cursor: pointer;
  box-shadow: 0 0 0 4px rgba(179, 179, 179, 0.2),
    0 0 0 1px rgba(104, 104, 104, 0.15);
}

thead th {
  opacity: 0.95;
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: 10px;
}

thead td,
th {
  font-size: 1rem;
  border: none !important;
  padding: 0;
  vertical-align: bottom;
}

.icones_liste {
  min-width: 280px;
}

.icones_liste span {
  font-size: 1.65rem;
  color: white;
  -webkit-text-stroke-width: 20px;
  stroke-width: 20px;
  transition: all 0.3s;
  cursor: pointer;
  margin-right: 25px;
  display: inline-block;
  position: relative;
}

.icones_liste span:hover {
  -webkit-text-stroke-width: 10px;
  stroke-width: 10px;
}

.usager_informations span {
  padding: 2px 10px;
  display: block;
}

.sort-structures label {
  min-width: 150px;
  padding-top: 8px;
  padding-right: 20px;
  font-weight: 500;
  text-align: right;
}

.sort-structures {
  margin: 0;
}

#usagers-list {
  position: relative;
}

.content-overlay {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  min-height: 800px;
  background-color: white;
  z-index: 4000;
}

.content-overlay div {
  margin: 50px auto;
  text-align: center;
}

.spinner {
  font-size: 4rem;
  color: var(--primary);
  -webkit-text-stroke-width: 20px;
  stroke-width: 20px;
  -webkit-text-stroke-color: white;
  stroke: white;
  margin-bottom: 10px;
}

.content-overlay span {
  width: 300px;
  line-height: 100%;
  color: var(--primary);
  font-size: 1.1rem;
}

#filters-btn .btn fa-icon {
  margin-left: 4px;
}
