.results-count {
  color: #9b9b9b;
}

#filters {
  margin-top: 20px;
  margin-bottom: 25px;
}

#filters .btn {
  font-size: 0.97rem;
  min-width: 125px;
}

#filters .btn-outline-dark {
  border-color: #9b9b9b;
}

#statut-selector .col:first-child {
  border-radius: 5px 0 0 0;
}

#statut-selector .col:last-child {
  border-radius: 0 5px 0 0;
}

#statut-selector .col {
  padding: 14px 24px;
  margin: 0;
  font-weight: 500;

  cursor: pointer;
  transition: all 0.25s;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: inset -1px 0 0 rgba(65, 100, 245, 0.1);
}

#statut-selector .btn {
  border-radius: 100px;
  padding: 5px 25px;
  font-size: 0.88rem;
  font-weight: 500;
}

.statut-cpt {
  font-style: normal !important;
  margin-right: 10px;
  font-weight: normal !important;
}

.selected-statut {
  color: var(--primary);
  background-color: white !important;
  box-shadow: 0 0 5px rgba(50, 66, 124, 0.1);
}

.btn-outline-dark:hover,
.btn-dark {
  color: white;
  border-color: white;
  background-color: #4a4a4a;
}

.btn-outline-dark {
  border-color: #4a4a4a;
  color: #4a4a4a;
}

#searchbar {
  margin-top: 10px;
  width: 98%;
  margin: 30px auto;
  max-width: 500px;
  position: relative;
}

#searchbar input {
  padding: 10px 10px 10px 40px;
  height: 46px;
  border-radius: 6px;
  border: 1px solid #9b9b9b;
}

#searchbar span {
  display: block;
  position: absolute;
  font-size: 18px;
}

#search_icon {
  left: 0;
  top: 0;
  min-width: 30px;
  padding: 9px 16px 9px 10px;
  color: #9b9b9b;
  cursor: pointer;
}

#times_icon {
  top: 9px;
  right: 15px;
  color: rgb(43, 43, 43);
  cursor: pointer;
}

table {
  border-collapse: separate;
  border-spacing: 0 9px;
  margin: 0 auto;
}

tbody td,
tbody th {
  vertical-align: middle;
  padding: 6px 5px;
  height: 52px;
  min-width: 40px;
  border: none;
}

tbody td:first-child,
tbody th:first-child {
  padding: 10px 12px;
  background-color: white;
  border-radius: 2px 0 0 2px;
}

tbody td:nth-child(2),
tbody th:nth-child(2) {
  min-width: 200px;
  max-width: 350px;
  word-break: break-all;
}

tbody td:last-child,
tbody th:last-child {
  background-color: white;
  padding: 10px 12px;
  text-align: right;
  border-radius: 0 2px 2px 0;
  width: 40px;
}

tbody td:last-child span,
tbody th:last-child span {
  display: block;
}

tbody tr {
  transition: all 0.2s;
  background: #ffffff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  opacity: 0.75;
}

tbody tr:hover {
  background-color: #fff;
  outline: 0;
  opacity: 1;
  cursor: pointer;
  box-shadow: 2px 1px 4px rgba(179, 179, 179, 0.5);
}

thead th {
  font-style: normal;
  font-weight: 600;
  font-size: 0.95rem;
  line-height: 1.2rem;
  color: #3150c0;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px 14px;
  transition: all 0.2s ease;
  vertical-align: middle;
}

thead td,
th {
  font-size: 1rem;
  border: none !important;
  padding: 0;
  vertical-align: bottom;
}

.icones_liste {
  min-width: 280px;
}

.sort-structures label {
  min-width: 150px;
  padding-top: 8px;
  padding-right: 20px;
  font-weight: 500;
  text-align: right;
}

.sort-structures {
  margin: 0;
}

.content-overlay {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  min-height: 800px;
  background-color: white;
  z-index: 4000;
}

.content-overlay div {
  margin: 50px auto;
  text-align: center;
}

.spinner {
  font-size: 4rem;
  color: var(--primary);
  -webkit-text-stroke-width: 20px;
  stroke-width: 20px;
  -webkit-text-stroke-color: white;
  stroke: white;
  margin-bottom: 10px;
}

.content-overlay span {
  width: 300px;
  line-height: 100%;
  color: var(--primary);
  font-size: 1.1rem;
}

#filters .btn fa-icon {
  margin-left: 4px;
}

.sortable .ng-fa-icon {
  float: right;
}

.sortable:hover {
  background-color: #fafafa;
}

.dropdown-menu {
  border-radius: 4px;
}

.dropdown-menu .ng-fa-icon {
  margin-left: 6px;
}

.sorted {
  background-color: #fafafa !important;
}

.label-info {
  border-radius: 50px;
  padding: 3px 12px;
  margin-right: 3px;
  display: inline-block;
}

.label-info span {
  display: block;
  font-size: 0.85rem;
}

.label-danger {
  background-color: #ffe5dd;
  color: #b51515;
}

.label-green {
  background-color: #d4f4ed;
  color: #486346;
}

.label-yellow {
  background-color: #feedd1;
  color: #282828;
}

.interaction-btn svg {
  fill: var(--primary);
}

.interaction-btn img {
  max-width: 28px;
  height: auto;
  display: block;
}

.interaction-btn {
  display: inline-block;
  border: 1px solid rgba(65, 100, 245, 0.3);
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 2px;
  padding: 6px;
}
