#head-page {
  padding-top: 120px;
}

button.dropdown-toggle {
  font-size: 1rem;
  background: #f9f9fc;
  border: 1px solid #cfcfd9;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: left;
  min-width: 180px;
  padding: 8px 12px;
}

.dropdown-menu {
  padding: 0;
  margin: 0;
  min-width: 100%;
  background: #ffffff;
  border: 1px solid #ececec;
  border-radius: 5px;
}

.dropdown-menu .ng-fa-icon {
  margin-left: 10px;
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px solid #cfcfd9;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  color: #4a4a4a;
  text-align: left;
  width: 100%;
}

#dropdownSort > div {
  padding: 10px;
  cursor: pointer;
}

#dropdownSortButton .ng-fa-icon,
.dropdown-item .ng-fa-icon {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.statut-cpt {
  font-style: normal !important;
  margin-right: 10px;
  font-weight: normal !important;
}

.selected-statut {
  background-color: white !important;
  box-shadow: 0 0 5px rgba(50, 66, 124, 0.1);
}

.statut-label {
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}

.selected-statut .statut-label {
  color: var(--primary);
}

.btn-outline-dark:hover,
.btn-dark {
  color: white;
  border-color: white;
  background-color: #4a4a4a;
}

.btn-outline-dark {
  border-color: #4a4a4a;
  color: #4a4a4a;
}

#searchbar {
  width: 98%;
  max-width: 500px;
  position: relative;
}

#searchbar input {
  padding: 10px 10px 10px 40px;
  height: 46px;
  background: transparent;
  border: none;
  color: white;
}

#searchbar input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

#searchbar span {
  display: block;
  position: absolute;
  font-size: 18px;
}

#search_icon {
  left: 0;
  top: 0;
  min-width: 30px;
  padding: 9px 16px 9px 10px;
  color: white;
  cursor: pointer;
}

#times_icon {
  top: 9px;
  right: 15px;
  color: white;
  cursor: pointer;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
  margin: 0 auto;
}

tbody td,
tbody th {
  vertical-align: middle;
  min-width: 30px;
  border: none;
  height: 64px;
  font-weight: 600;
  font-style: normal;
}

tbody td:first-child,
tbody th:first-child {
  padding: 10px 14px;
  background-color: white;
  border-radius: 2px 0 0 2px;
}

tbody td:nth-child(2),
tbody th:nth-child(2) {
  min-width: 200px;
  max-width: 350px;
  word-break: break-all;
}

tbody td:last-child,
tbody th:last-child {
  background-color: white;
  padding: 10px 12px;
  text-align: right;
  border-radius: 0 2px 2px 0;
  width: 40px;
}

tbody td:last-child span,
tbody th:last-child span {
  display: block;
}

tbody tr {
  transition: all 50ms;
  animation-timing-function: cubic-bezier(Ease Out);
  background: #ffffff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  opacity: 0.75;
}

tbody tr:hover {
  background-color: #fff;
  outline: 0;
  opacity: 1;
  cursor: pointer;
  box-shadow: 2px 1px 4px rgba(179, 179, 179, 0.5);
}

thead th {
  font-style: normal;
  font-weight: 600;
  font-size: 0.95rem;
  line-height: 1.2rem;
  color: #3150c0;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px 14px;
  transition: all 0.2s ease;
  vertical-align: middle;
}

thead td,
th {
  font-size: 1rem;
  border: none !important;
  padding: 0;
  vertical-align: bottom;
}

.icones_liste {
  min-width: 280px;
}

.sort-structures label {
  min-width: 150px;
  padding-top: 8px;
  padding-right: 20px;
  font-weight: 500;
  text-align: right;
}

.sort-structures {
  margin: 0;
}

.content-overlay {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  min-height: 800px;
  background-color: white;
  z-index: 4000;
}

.content-overlay div {
  margin: 50px auto;
  text-align: center;
}

.spinner {
  font-size: 4rem;
  color: var(--primary);
  -webkit-text-stroke-width: 20px;
  stroke-width: 20px;
  -webkit-text-stroke-color: white;
  stroke: white;
  margin-bottom: 10px;
}

.content-overlay span {
  width: 300px;
  line-height: 100%;
  color: var(--primary);
  font-size: 1.1rem;
}

#filters .btn fa-icon {
  margin-left: 4px;
}

.sortable .ng-fa-icon {
  float: right;
}

.sortable:hover {
  background-color: #fafafa;
}

.sorted {
  background-color: #fafafa !important;
}

.label-info {
  border-radius: 50px;
  padding: 3px 12px;
  margin-right: 3px;
  display: inline-block;
}

.label-info span {
  display: block;
  font-size: 0.8rem;
}

.label-danger {
  background-color: #ffe5dd;
  color: #b51515;
}

.label-green {
  background-color: #d4f4ed;
  color: #486346;
}

.label-yellow {
  background-color: #feedd1;
  color: #282828;
}

.interaction-btn span {
  display: inline-block;
  vertical-align: middle;
}

.interaction-btn {
  display: inline-block;
  border: 1px solid rgba(65, 100, 245, 0.4);
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 3px;
  margin: 0 4px;
  padding: 3px 5px;
  position: relative;
}

.interaction-btn * {
  transition: all 0.2s;
}

.list-icon {
  min-height: 24px;
  min-width: 24px;
  padding: 16px;
  box-sizing: border-box;
  background-color: #4164f5;
  -webkit-mask-size: 75%;
  mask-size: 75%;
}

.list-icon-label {
  font-size: 0.85rem;
  padding: 0 4px;
}

.interaction-btn:hover {
  color: white;
  background-color: #4164f5;
}

.interaction-btn:hover .list-icon {
  background-color: white;
}

.btn-white-primary {
  background-color: #ffffff;
  box-shadow: 0 2px 2px #2f4ece;
  border-radius: 3px;
}

.selected-btn {
  border: 1px solid var(--primary) !important;
}

.cross:hover {
  background-color: white;
  color: var(--primary);
}

.cross {
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 0.9rem;
  line-height: 100%;
  background-color: var(--primary);
  color: white;
}

.distribution-tooltip {
  opacity: 1;
  min-width: 240px;
}

.distribution-tooltip .list-icon {
  box-sizing: border-box;
  background-color: black;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-size: 90%;
}

.distribution-tooltip div {
  margin: 6px 0;
  text-align: left;
}

.distribution-tooltip span {
  vertical-align: middle;
  display: inline-block;
}
