#manage {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

#filters {
  padding: 10px 0;
}

#filters .row * {
  vertical-align: middle;
}

#filters .row {
  margin: 15px 0;
}

#filters button {
  margin: 0 5px;
}

#filters span {
  color:#4A4A4A;
  width: 100px;
  padding-top: 5px;
}

#filters .btn {
  border-radius: 100px;
  padding: 5px 25px;
  font-size: 0.88rem;
  font-weight: 500;
}

.btn-outline-dark:hover,
.btn-dark {
  color: white;
  border-color:white;
  background-color:  #9b9b9b;
}

.btn-outline-dark {
  border-color: #9b9b9b;
  color: #4A4A4A;
}

#searchbar {
  position: relative;
}

#searchbar input {
  padding: 10px 38px;
  border-radius: 6px;
}

#searchbar span {
  display: block;
  position: absolute;
  top: 8px;
}

#search_icon{
  left: 15px;
  color:rgb(202, 202, 202);
}

#times_icon{
  right: 15px;
  color:rgb(43, 43, 43);
  cursor :pointer;
}

.table_name span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-top: -10px
}

table {
  border-collapse: separate;
  border-spacing: 0 8px;
  margin: 0 auto;
}

td,
th {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  vertical-align: middle;
  padding: 6px 5px;
}

td:first-child,
th:first-child {
  padding: 6px 25px;
  border-radius: 4px 0px 0 4px;
}

td:last-child,
th:last-child {
  border-right: 1px solid #f0f0f0;
  padding: 6px 10px;
  text-align: right;
  border-radius: 0 4px 4px 0;
}

.valide {
  border-left: 4px solid   var(--secondary);
}

.demande {
  border-left: 4px solid  var(--primary);
}
.refus {
  border-left: 4px solid  #bc1516;
}

.instruction {
  border-left: 4px solid  rgb(226, 168, 7)!important;
}

tbody tr {
  transition: all 0.2s;
  border-radius: 6px;
}

tbody tr:hover {
  background-color: #fff;
  outline: 0;
  border-color:white;
  cursor: pointer;
  box-shadow: 0 0 0 5px rgba(179, 179, 179, 0.1),  0 0 0 1px rgba(104, 104, 104, 0.1) ;
}

.icones_liste span {
  font-size: 1.65rem;
  color: white;
  -webkit-text-stroke-width: 20px;
  stroke-width: 20px;
  transition: all 0.3s;
  cursor: pointer;
  margin-right: 25px;
  display: inline-block;
}

.icones_liste span:hover {
  -webkit-text-stroke-width: 10px;
  stroke-width: 10px;
}
