#head-page {
  padding-top: 120px;
}

button.dropdown-toggle {
  font-size: 1rem;
  background: #f9f9fc;
  border: 1px solid #cfcfd9;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: left;
  min-width: 180px;
  padding: 8px 12px;
}

.dropdown-menu {
  padding: 0;
  margin: 0;
  min-width: 100%;
  background: #ffffff;
  border: 1px solid #ececec;
  border-radius: 5px;
}

.dropdown-menu .ng-fa-icon {
  margin-left: 10px;
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px solid #cfcfd9;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  color: #4a4a4a;
  text-align: left;
  width: 100%;
}

#dropdownSort > div {
  padding: 10px;
  cursor: pointer;
}

#dropdownSortButton .ng-fa-icon,
.dropdown-item .ng-fa-icon {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.statut-cpt {
  font-style: normal !important;
  margin-right: 10px;
  font-weight: normal !important;
}

.selected-statut {
  background-color: white !important;
  box-shadow: 0 0 5px rgba(50, 66, 124, 0.1);
}

.statut-label {
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}

.selected-statut .statut-label {
  color: var(--primary);
}

.btn-outline-dark:hover,
.btn-dark {
  color: white;
  border-color: white;
  background-color: #4a4a4a;
}

.btn-outline-dark {
  border-color: #4a4a4a;
  color: #4a4a4a;
}

#searchbar {
  width: 98%;
  max-width: 500px;
  position: relative;
}

#searchbar input {
  padding: 10px 10px 10px 40px;
  height: 46px;
  background: transparent;
  border: none;
  color: white;
}

#searchbar input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

#searchbar span {
  display: block;
  position: absolute;
  font-size: 18px;
}

#search_icon {
  left: 0;
  top: 0;
  min-width: 30px;
  padding: 9px 16px 9px 10px;
  color: white;
  cursor: pointer;
}

#times_icon {
  top: 9px;
  right: 15px;
  color: white;
  cursor: pointer;
}

.content-overlay {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  min-height: 800px;
  background-color: white;
  z-index: 4000;
}

.content-overlay div {
  margin: 50px auto;
  text-align: center;
}

.spinner {
  font-size: 4rem;
  color: var(--primary);
  -webkit-text-stroke-width: 20px;
  stroke-width: 20px;
  -webkit-text-stroke-color: white;
  stroke: white;
  margin-bottom: 10px;
}

.content-overlay span {
  width: 300px;
  line-height: 100%;
  color: var(--primary);
  font-size: 1.1rem;
}

#filters .btn fa-icon {
  margin-left: 4px;
}

.btn-white-primary {
  background-color: #ffffff;
  color: #4164f5;
  box-shadow: 0 2px 2px #2f4ece;
  border-radius: 3px;
}

.btn-white-primary:hover {
  background-color: #e7e7e7;
  border: 1px solid #2f4ece;
}

.selected-btn {
  border: 1px solid var(--primary) !important;
}

.cross:hover {
  background-color: white;
  color: var(--primary);
}

.cross {
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 0.9rem;
  line-height: 100%;
  background-color: var(--primary);
  color: white;
}

#table-container {
  max-width: 100%;
  margin: 0 auto;
  overflow-x: scroll;
}
