#table-usagers {
  min-width: 1000px;

  .manage-usager-ref {
    min-width: 40px;
  }

  .table-name {
    max-width: 300px;
  }

  .table-name a div {
    width: 210px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .table-name img {
    display: inline-block;
    vertical-align: middle;
  }
}

.clickable {
  cursor: pointer;
}

.list-interaction-icons {
  padding: 2px 4px;
}

.td-name {
  font-weight: 600;
}

.statut-signal {
  border-radius: 100%;
  margin-right: 4px;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.statut-signal .d-none {
  display: none;
}

.statut-signal .statut-date {
  font-weight: bold;
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  padding: 1rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
