#table-usagers {
  border-collapse: separate;
  border-spacing: 0 9px;
  margin: 0 auto;
  box-sizing: content-box;
  min-width: 1000px;
  width: 100%;
  max-width: 2000px;

  tbody td {
    vertical-align: middle;
    border: none;
    font-style: normal;
    padding: 0 0.2rem;
    height: 62px;
    font-size: 0.95rem;
  }

  tbody td span {
    vertical-align: middle;
  }

  tbody td a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }

  tbody td a:hover,
  tbody td a:active,
  tbody td a:visited {
    text-decoration: none;
  }

  tbody td input[type="checkbox"] {
    width: 14px;
    height: 14px;
    vertical-align: middle;
  }

  .manage-usager-ref {
    background-color: white;
    min-width: 40px;
  }

  tbody td:nth-child(2) {
    max-width: 350px;
    word-break: break-word;
  }

  tbody td:first-child {
    border-radius: 2px 0 0 2px;
    padding: 0 0.5rem;
  }

  tbody td:last-child {
    background-color: white;
    text-align: right;
    border-radius: 0 2px 2px 0;
    width: 50px;
    min-width: 0;
  }

  tbody tr {
    transition: all 0.5s;
    animation-timing-function: cubic-bezier(Ease Out);
    background: #ffffff;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
  }

  tbody tr:hover {
    background-color: #fff;
    cursor: pointer;
    box-shadow: 2px 1px 4px rgba(179, 179, 179, 0.5);
  }

  thead th .btn {
    padding: 0.25rem 0.5rem;
  }

  thead th button:not(.btn) {
    font-size: 0.95rem;
    padding: 0;
    color: #3150c0;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    vertical-align: middle;
  }

  thead th {
    font-style: normal;
    font-weight: 600;
    font-size: 0.95rem;
    color: #3150c0;
    padding: 0.2rem;
    text-transform: uppercase;
    border: none;
    transition: all 0.2s ease;
    vertical-align: middle;
  }
  .table-name img {
    display: inline-block;
    vertical-align: middle;
  }

  .table-name a div {
    width: 210px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .table-name {
    max-width: 300px;
  }
}

.clickable {
  cursor: pointer;
}

.list-interaction-icons {
  padding: 2px 4px;
}

.interaction-buttons {
  display: flex;
  align-items: center;
}

.interaction-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(65, 100, 245, 0.4);
  box-sizing: border-box;
  border-radius: 4px;
  margin: 3px;
  padding: 0.1rem 0.2rem;
  position: relative;
  background-color: white;
  transition: all 0.2s;
}

.interaction-btn:hover {
  color: white;
  background-color: var(--bs-primary);
  box-shadow: 0 0 0 0.25rem rgba(179, 179, 179, 0.5);
}

.interaction-btn:hover .list-icon {
  background-color: white;
}

.interaction-btn:not(:disabled) .list-icon-disabled {
  display: none;
}

.interaction-btn:disabled .list-icon {
  display: none;
}

.interaction-btn:disabled {
  border: 1px solid rgba(122, 122, 122, 1);
  position: relative;
  font-size: 1.2rem;
  box-sizing: border-box;
  cursor: progress;
}

.list-icon-disabled {
  padding: 0.25rem 0.5rem;
}

.list-icon {
  padding: 15px;
  box-sizing: border-box;
  background-color: #4164f5;
  -webkit-mask-size: 78%;
  mask-size: 78%;
}

.list-icon-label {
  font-size: 0.85rem;
  padding: 0 4px;
}

.distribution-tooltip {
  .list-icon {
    box-sizing: border-box;
    background-color: black;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: 90%;
  }

  span {
    vertical-align: middle;
    display: inline-block;
  }
}

.td-name {
  font-weight: 600;
}

.statut-signal {
  border-radius: 100%;
  margin-right: 4px;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.statut-signal .d-none {
  display: none;
}

.statut-signal .statut-date {
  font-weight: bold;
}

label {
  height: 100%;
  width: 100%;
  padding: 1.3rem 0.5rem;
  margin: 0;
  text-align: center;
}
