#structureForm div.btn {
  margin: 10px 15px;
  padding: 0;
}

#structureForm input[type="radio"]:checked + label {
  color: white !important;
}

#structureForm .btn label {
  color: var(--bs-blue);
  margin: 0;
  padding: 12px 22px;
}

#structureForm .btn label:hover {
  color: white !important;
}

.fr-input-group--error:before,
.fr-select-group--error:before {
  left: -0.25rem;
}
