#structureForm div.btn {
  margin: 10px 15px;
  padding: 0;
}

#structureForm input[type="radio"]:checked + label {
  color: white !important;
}

.btn label {
  color: var(--blue);
  margin: 0;
  padding: 12px 22px;
}

.btn label:hover {
  color: white !important;
}

.separateur {
  min-width: 140px;
}
.separateur_inactive {
  min-width: 140px;
}

.step div {
  max-width: 120px;
}
