name: Production

on:
  push:
    branches: [master]

concurrency:
  group: preproduction
  cancel-in-progress: true

jobs:

  ##############################################################################
  ## BUILD AND REGISTER BACKEND IMAGE
  ##############################################################################
  register-backend:
    name: Build & Register application
    runs-on: ubuntu-latest
    steps:

    - name: Get project name
      run: |
        echo "project=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

    - name: Use autodevops build and register
      uses: SocialGouv/actions/autodevops-build-register@local-cache
      with:
        project: ${{ env.project }}
        token: ${{ secrets.GITHUB_TOKEN }}
        imageName: ${{ env.project }}/backend
        dockerfile: packages/backend/Dockerfile

  ##############################################################################
  ## BUILD AND REGISTER FRONTEND IMAGE
  ##############################################################################
  register-frontend:
    name: Build & Register application
    runs-on: ubuntu-latest
    steps:

    - name: Get project name
      run: |
        echo "project=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

    - name: Use autodevops build and register
      uses: SocialGouv/actions/autodevops-build-register@local-cache
      with:
        project: ${{ env.project }}
        token: ${{ secrets.GITHUB_TOKEN }}
        imageName: ${{ env.project }}/frontend
        dockerfile: packages/frontend/Dockerfile
        dockerbuildargs: |
          DOMIFA_FRONTEND_META_ROBOTS=noindex,nofollow

  ##############################################################################
  ## BUILD AND REGISTER PORTAIL USAGERS IMAGE
  ##############################################################################
  register-portail-usagers:
    name: Build & Register portail-usagers
    runs-on: ubuntu-latest
    steps:
      - name: Get project name
        run: |
          echo "project=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

      - name: Use autodevops build and register
        uses: SocialGouv/actions/autodevops-build-register@local-cache
        with:
          project: ${{ env.project }}
          token: ${{ secrets.GITHUB_TOKEN }}
          imageName: ${{ env.project }}/portail-usagers
          dockerfile: packages/portail-usagers/Dockerfile

  ##############################################################################
  ## GENERATE PREPROD KUBERNETES MANIFESTS
  ##############################################################################
  manifests:
    name: Preproduction manifests
    runs-on: ubuntu-latest
    steps:

    - name: Use autodevops manifests generation
      uses: SocialGouv/actions/k8s-manifests@v1
      with:
        environment: "preprod"
        rancherId: ${{ secrets.RANCHER_PROJECT_ID }}
        socialgouvBaseDomain: ${{ secrets.SOCIALGOUV_BASE_DOMAIN }}

  ##############################################################################
  ## DEPLOY BACKEND & FRONT-END TO PREPRODUCTION
  ##############################################################################
  deploy-preprod:
    name: Deploy preproduction
    runs-on: ubuntu-latest
    needs: [
      register-backend,
      register-frontend,
      register-portail-usagers,
      manifests
    ]
    environment:
      name: preproduction
      url: ${{ steps.deploy.outputs.url }}
    steps:
  
    - name: Use autodevops deployment
      uses: SocialGouv/actions/autodevops-deploy@v1
      id: deploy
      with:
        environment: "preprod"
        token: ${{ secrets.GITHUB_TOKEN }}
        rancherId: ${{ secrets.RANCHER_PROJECT_ID }}
        kubeconfig: ${{ secrets.SOCIALGOUV_KUBE_CONFIG_DEV2 }}
