name: Preproduction

on:
  push:
    branches: [master]

concurrency:
  group: preproduction
  cancel-in-progress: true

jobs:
  ##############################################################################
  ## BUILD AND REGISTER BACKEND IMAGE
  ##############################################################################
  register-backend:
    name: Build & Register application
    runs-on: ubuntu-latest
    steps:
      - name: Use autodevops build and register
        uses: SocialGouv/actions/autodevops-build-register@v1
        with:
          environment: preprod
          token: ${{ secrets.GITHUB_TOKEN }}
          imageName: domifa/backend
          dockerfile: packages/backend/Dockerfile
          dockerbuildargs: |
            DOMIFA_ENV_ID=preprod

  ##############################################################################
  ## BUILD AND REGISTER FRONTEND IMAGE
  ##############################################################################
  register-frontend:
    name: Build & Register application
    runs-on: ubuntu-latest
    steps:
      - name: Use autodevops build and register
        uses: SocialGouv/actions/autodevops-build-register@v1
        with:
          environment: preprod
          token: ${{ secrets.GITHUB_TOKEN }}
          imageName: domifa/frontend
          dockerfile: packages/frontend/Dockerfile
          dockerbuildargs: |
            DOMIFA_BACKEND_URL=https://api-domifa-preprod.dev.fabrique.social.gouv.fr/
            DOMIFA_PORTAIL_ADMINS_URL=https://portail-admins-domifa-preprod.dev.fabrique.social.gouv.fr
            DOMIFA_PORTAIL_USAGERS_URL=https://portail-usagers-domifa-preprod.dev.fabrique.social.gouv.fr
            DOMIFA_ENV_ID=preprod
            DOMIFA_FRONTEND_META_ROBOTS=noindex,nofollow

  ##############################################################################
  ## BUILD AND REGISTER PORTAIL USAGERS IMAGE
  ##############################################################################
  register-portail-usagers:
    name: Build & Register portail-usagers
    runs-on: ubuntu-latest
    steps:
      - name: Use autodevops build and register
        uses: SocialGouv/actions/autodevops-build-register@v1
        with:
          environment: preprod
          token: ${{ secrets.GITHUB_TOKEN }}
          imageName: domifa/portail-usagers
          dockerfile: packages/portail-usagers/Dockerfile
          dockerbuildargs: |
            DOMIFA_BACKEND_URL=https://api-domifa-preprod.dev.fabrique.social.gouv.fr/
            DOMIFA_ENV_ID=preprod

  ##############################################################################
  ## BUILD AND REGISTER PORTAIL ADMINS IMAGE
  ##############################################################################
  register-portail-admins:
    name: Build & Register portail-admins
    runs-on: ubuntu-latest
    steps:
      - name: Use autodevops build and register
        uses: SocialGouv/actions/autodevops-build-register@v1
        with:
          environment: preprod
          token: ${{ secrets.GITHUB_TOKEN }}
          imageName: domifa/portail-admins
          dockerfile: packages/portail-admins/Dockerfile
          dockerbuildargs: |
            DOMIFA_BACKEND_URL=https://api-domifa-preprod.dev.fabrique.social.gouv.fr/
            DOMIFA_ENV_ID=preprod

  ##############################################################################
  ## DEPLOY BACKEND & FRONT-END TO PREPRODUCTION
  ##############################################################################
  deploy-preprod:
    name: Deploy preproduction
    runs-on: ubuntu-latest
    needs:
      [
        register-backend,
        register-frontend,
        register-portail-usagers,
        register-portail-admins,
      ]
    environment:
      name: preproduction
      url: ${{ steps.deploy.outputs.url }}
    steps:
      - uses: SocialGouv/kube-workflow@v1
        id: deploy
        with:
          environment: preprod
          token: ${{ secrets.GITHUB_TOKEN }}
          kubeconfig: ${{ secrets.KUBECONFIG }}
          rancherProjectId: ${{ secrets.RANCHER_PROJECT_ID }}
          rancherProjectName: ${{ secrets.RANCHER_PROJECT_NAME }}
