name: Production

on:
  push:
    tags:
      - v*

concurrency:
  group: production
  cancel-in-progress: true

jobs:
  ##############################################################################
  ## BUILD AND REGISTER BACKEND IMAGE
  ##############################################################################
  register-backend:
    name: Build & Register application
    runs-on: ubuntu-latest
    steps:
      - name: Get project name
        run: |
          echo "project=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

      - name: Use autodevops build and register
        uses: SocialGouv/actions/harbor-build-register@v1
        with:
          project: ${{ env.project }}
          token: ${{ secrets.GITHUB_TOKEN }}
          imageName: ${{ env.project }}/backend
          dockerfile: packages/backend/Dockerfile
          harborUsername: ${{ secrets.HARBOR_USERNAME }}
          harborPassword: ${{ secrets.HARBOR_PASSWORD }}
          harborUrl: ${{ secrets.HARBOR_REGISTRY }}
          environment: prod

  ##############################################################################
  ## BUILD AND REGISTER FRONTEND IMAGE
  ##############################################################################
  register-frontend:
    name: Build & Register application
    runs-on: ubuntu-latest
    steps:
      - name: Get project name
        run: |
          echo "project=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

      - name: Use autodevops build and register
        uses: SocialGouv/actions/harbor-build-register@v1
        with:
          project: ${{ env.project }}
          token: ${{ secrets.GITHUB_TOKEN }}
          imageName: ${{ env.project }}/frontend
          dockerfile: packages/frontend/Dockerfile
          dockerbuildargs: |
            DOMIFA_FRONTEND_META_ROBOTS=index,follow
          harborUsername: ${{ secrets.HARBOR_USERNAME }}
          harborPassword: ${{ secrets.HARBOR_PASSWORD }}
          harborUrl: ${{ secrets.HARBOR_REGISTRY }}
          environment: prod

  ##############################################################################
  ## BUILD AND REGISTER PORTAIL USAGERS IMAGE
  ##############################################################################
  register-portail-usagers:
    name: Build & Register portail-usagers
    runs-on: ubuntu-latest
    steps:
      - name: Get project name
        run: |
          echo "project=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

      - name: Use autodevops build and register
        uses: SocialGouv/actions/harbor-build-register@v1
        with:
          project: ${{ env.project }}
          token: ${{ secrets.GITHUB_TOKEN }}
          imageName: ${{ env.project }}/portail-usagers
          dockerfile: packages/portail-usagers/Dockerfile
          harborUsername: ${{ secrets.HARBOR_USERNAME }}
          harborPassword: ${{ secrets.HARBOR_PASSWORD }}
          harborUrl: ${{ secrets.HARBOR_REGISTRY }}
          environment: prod

  ##############################################################################
  ## BUILD AND REGISTER PORTAIL ADMINS IMAGE
  ##############################################################################
  register-portail-admins:
    name: Build & Register portail-admins
    runs-on: ubuntu-latest
    steps:
      - name: Get project name
        run: |
          echo "project=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

      - name: Use autodevops build and register
        uses: SocialGouv/actions/harbor-build-register@v1
        with:
          project: ${{ env.project }}
          token: ${{ secrets.GITHUB_TOKEN }}
          imageName: ${{ env.project }}/portail-admins
          dockerfile: packages/portail-admins/Dockerfile
          harborUsername: ${{ secrets.HARBOR_USERNAME }}
          harborPassword: ${{ secrets.HARBOR_PASSWORD }}
          harborUrl: ${{ secrets.HARBOR_REGISTRY }}
          environment: prod

  ##############################################################################
  ## DEPLOY BACKEND & FRONT-END TO PRODUCTION
  ##############################################################################
  deploy-prod:
    name: Deploy production
    runs-on: ubuntu-latest
    needs: [register-backend, register-frontend, register-portail-usagers]
    environment:
      name: production
      url: ${{ steps.deploy.outputs.url }}
    steps:
      - name: Use autodevops manifests generation
        uses: SocialGouv/actions/k8s-manifests@v1
        with:
          environment: "prod"
          rancherId: ${{ secrets.RANCHER_PROJECT_ID }}
          socialgouvBaseDomain: ${{ secrets.SOCIALGOUV_BASE_DOMAIN }}

      - name: Use autodevops deployment
        uses: SocialGouv/actions/autodevops-deploy@v1
        id: deploy
        with:
          environment: "prod"
          token: ${{ secrets.GITHUB_TOKEN }}
          rancherId: ${{ secrets.RANCHER_PROJECT_ID }}
          kubeconfig: ${{ secrets.SOCIALGOUV_KUBE_CONFIG_PROD2 }}
