name: Review

on:
  push:
    branches-ignore:
      - master
    tags-ignore:
      - v*

concurrency:
  cancel-in-progress: true
  group: review-${{ github.ref }}

jobs:
  ##############################################################################
  ## BUILD AND REGISTER BACKEND IMAGE
  ##############################################################################
  register-backend:
    name: Build & Register backend
    runs-on: ubuntu-latest
    steps:
      - name: Use autodevops build and register
        uses: SocialGouv/actions/autodevops-build-register@v1
        with:
          environment: dev
          token: ${{ secrets.GITHUB_TOKEN }}
          imageName: domifa/backend
          dockerfile: packages/backend/Dockerfile
          dockerbuildargs: |
            DOMIFA_ENV_ID=dev

  ##############################################################################
  ## BUILD AND REGISTER FRONTEND IMAGE
  ##############################################################################
  register-frontend:
    name: Build & Register frontend
    runs-on: ubuntu-latest
    steps:
      - name: Get project name
        run: |
          REPOSITORY=${GITHUB_REPOSITORY#*/}
          BRANCH=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}
          HOST=$(npx kube-workflow slugify $REPOSITORY-$BRANCH)
          echo "project=${REPOSITORY}" >> $GITHUB_ENV
          echo "branch=${BRANCH}" >> $GITHUB_ENV
          echo "host=${HOST}" >> $GITHUB_ENV

      - name: Use autodevops build and register
        uses: SocialGouv/actions/autodevops-build-register@v1
        with:
          environment: dev
          token: ${{ secrets.GITHUB_TOKEN }}
          imageName: domifa/frontend
          dockerfile: packages/frontend/Dockerfile
          dockerbuildargs: |
            DOMIFA_BACKEND_URL=https://api-${{ env.host }}.dev.fabrique.social.gouv.fr/
            DOMIFA_PORTAIL_ADMINS_URL=https://portail-admins-${{ env.host }}.dev.fabrique.social.gouv.fr
            DOMIFA_PORTAIL_USAGERS_URL=https://portail-usagers-${{ env.host }}.dev.fabrique.social.gouv.fr
            DOMIFA_ENV_ID=dev

  ##############################################################################
  ## BUILD AND REGISTER PORTAIL USAGERS IMAGE
  ##############################################################################
  register-portail-usagers:
    name: Build & Register portail-usagers
    runs-on: ubuntu-latest
    steps:
      - name: Get project name
        run: |
          REPOSITORY=${GITHUB_REPOSITORY#*/}
          BRANCH=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}
          HOST=$(npx kube-workflow slugify $REPOSITORY-$BRANCH)
          echo "project=${REPOSITORY}" >> $GITHUB_ENV
          echo "branch=${BRANCH}" >> $GITHUB_ENV
          echo "host=${HOST}" >> $GITHUB_ENV

      - name: Use autodevops build and register
        uses: SocialGouv/actions/autodevops-build-register@v1
        with:
          environment: dev
          token: ${{ secrets.GITHUB_TOKEN }}
          imageName: domifa/portail-usagers
          dockerfile: packages/portail-usagers/Dockerfile
          dockerbuildargs: |
            DOMIFA_BACKEND_URL=https://api-${{ env.host }}.dev.fabrique.social.gouv.fr/
            DOMIFA_ENV_ID=dev

  ##############################################################################
  ## BUILD AND REGISTER PORTAIL ADMINS IMAGE
  ##############################################################################
  register-portail-admins:
    name: Build & Register portail-admins
    runs-on: ubuntu-latest
    steps:
      - name: Get project name
        run: |
          REPOSITORY=${GITHUB_REPOSITORY#*/}
          BRANCH=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}
          HOST=$(npx kube-workflow slugify $REPOSITORY-$BRANCH)
          echo "project=${REPOSITORY}" >> $GITHUB_ENV
          echo "branch=${BRANCH}" >> $GITHUB_ENV
          echo "host=${HOST}" >> $GITHUB_ENV

      - name: Use autodevops build and register
        uses: SocialGouv/actions/autodevops-build-register@v1
        with:
          environment: dev
          token: ${{ secrets.GITHUB_TOKEN }}
          imageName: domifa/portail-admins
          dockerfile: packages/portail-admins/Dockerfile
          dockerbuildargs: |
            DOMIFA_BACKEND_URL=https://api-${{ env.host }}.dev.fabrique.social.gouv.fr/
            DOMIFA_ENV_ID=dev

  ##############################################################################
  ## DEPLOY BACKEND & FRONT-END
  ##############################################################################
  deploy:
    name: Deploy review branch
    runs-on: ubuntu-latest
    needs:
      [
        register-backend,
        register-frontend,
        register-portail-usagers,
        register-portail-admins,
      ]
    steps:
      - uses: SocialGouv/kube-workflow@v1
        with:
          environment: dev
          token: ${{ secrets.GITHUB_TOKEN }}
          kubeconfig: ${{ secrets.KUBECONFIG }}
          rancherProjectId: ${{ secrets.RANCHER_PROJECT_ID }}
          rancherProjectName: ${{ secrets.RANCHER_PROJECT_NAME }}
