name: Unit Tests

on:
  push:
    branches: [master, alpha, beta, next]
  pull_request:

concurrency:
  cancel-in-progress: true
  group: unit-tests-${{ github.ref }}

jobs:
  lint:
    name: Lint code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Set up Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        name: Install pnpm
        with:
          cache: true

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build common dependencies
        run: pnpm --filter @domifa/common build

      - name: Lint all packages
        run: pnpm lint

  backend:
    name: Backend unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Set up Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        name: Install pnpm
        with:
          cache: true

      - name: Change TimeZone
        uses: szenius/set-timezone@v1.2
        with:
          timezoneLinux: "Europe/Paris"

      - name: Create backend .env file
        run: cp ./packages/backend/.env.backend.test.local.example.env ./packages/backend/.env.backend.test.local.env

      - name: Install backend and common dependencies
        run: pnpm install --filter @domifa/backend... --filter @domifa/common... --frozen-lockfile

      - name: Build common dependencies
        run: pnpm --filter @domifa/common build

      - name: Create Postgres service
        run: docker compose -f ./docker-compose.tests.yml up --build --detach

      - name: Run backend tests
        run: DISABLE_TYPEORM_CLOSE=1 ENV_FILE=tests-local pnpm --filter @domifa/backend exec jest --coverage --forceExit --runInBand

      - name: Archive code coverage
        uses: actions/upload-artifact@v6
        with:
          name: backend-coverage
          path: packages/backend/coverage

  common:
    name: Common package unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Set up Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        name: Install pnpm
        with:
          cache: true

      - name: Change TimeZone
        uses: szenius/set-timezone@v1.2
        with:
          timezoneLinux: "Europe/Paris"

      - name: Install common dependencies
        run: pnpm install --filter @domifa/common... --frozen-lockfile

      - name: Build common dependencies
        run: pnpm --filter @domifa/common build

      - name: Run common tests
        run: pnpm --filter @domifa/common exec jest --coverage --detectOpenHandles --forceExit

      - name: Archive code coverage
        uses: actions/upload-artifact@v6
        with:
          name: common-coverage
          path: packages/common/coverage

  frontend:
    name: Front-end unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Set up Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        name: Install pnpm
        with:
          cache: true

      - name: Change TimeZone
        uses: szenius/set-timezone@v1.2
        with:
          timezoneLinux: "Europe/Paris"

      - name: Install frontend and common dependencies
        run: pnpm install --filter @domifa/frontend... --filter @domifa/common... --frozen-lockfile

      - name: Build common dependencies
        run: pnpm --filter @domifa/common build

      - name: Run front-end tests
        run: pnpm --filter @domifa/frontend exec jest --coverage --detectOpenHandles --forceExit

      - name: Archive code coverage
        uses: actions/upload-artifact@v6
        with:
          name: frontend-coverage
          path: packages/frontend/coverage

  portail-usagers:
    name: Portail Usagers unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Set up Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        name: Install pnpm
        with:
          cache: true

      - name: Install portail-usagers and common dependencies
        run: pnpm install --filter @domifa/portail-usagers... --filter @domifa/common... --frozen-lockfile

      - name: Build common dependencies
        run: pnpm --filter @domifa/common build

      - name: Run "Mon DomiFa" tests
        run: pnpm --filter @domifa/portail-usagers exec jest --coverage --detectOpenHandles --forceExit

      - name: Archive code coverage
        uses: actions/upload-artifact@v6
        with:
          name: portail-usagers-coverage
          path: packages/portail-usagers/coverage

  portail-admins:
    name: Portail Admins unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Set up Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        name: Install pnpm
        with:
          cache: true

      - name: Install portail-admins and common dependencies
        run: pnpm install --filter @domifa/portail-admins... --filter @domifa/common... --frozen-lockfile

      - name: Build common dependencies
        run: pnpm --filter @domifa/common build

      - name: Run "Portail Admin" tests
        run: pnpm --filter @domifa/portail-admins exec jest --coverage --detectOpenHandles --forceExit

      - name: Archive code coverage
        uses: actions/upload-artifact@v6
        with:
          name: portail-admins-coverage
          path: packages/portail-admins/coverage

  anonymization:
    name: Anonymization quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Set up Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        name: Install pnpm
        with:
          cache: true

      - name: Install anonymizer dependencies
        working-directory: ./.anonymizer
        run: pnpm install --frozen-lockfile

      - name: Lint
        working-directory: ./.anonymizer
        run: pnpm lint

      - name: Build
        working-directory: ./.anonymizer
        run: pnpm build

  codecov:
    name: Publish code coverage
    runs-on: ubuntu-22.04
    needs: [backend, frontend, portail-usagers, portail-admins]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Download backend coverage
        uses: actions/download-artifact@v4
        with:
          name: backend-coverage
          path: packages/backend/coverage

      - name: Download front-end coverage
        uses: actions/download-artifact@v4
        with:
          name: frontend-coverage
          path: packages/frontend/coverage

      - name: Publish backend code coverage
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: packages/backend/coverage

      - name: Publish front-end code coverage
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: packages/frontend/coverage
