.doc-icon {
  padding: 0.4rem 1.2rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 6px;
  display: inline-block;
  background-color: #ecefff;
}

.icon-image {
  color: #553828;
}
.icon-file-pdf {
  color: #fe3b31;
}
.icon-file-word {
  color: #017aff;
}
.icon-file-excel {
  color: #33c75a;
}
