#toast-container {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  background-color: white;
  padding: 0;
  top: 10px;
  left: 10px;
  width: 500px;
  /*overrides*/

  .fr-alert {
    width: 400px;
  }
}

/*Responsive Design*/
@media all and (max-width: 240px) {
  #toast-container .fr-alert {
    width: 320px;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container .fr-alert {
    width: 320px;
  }
}
