.card {
  cursor: pointer;
}

.card_selected,
.card:hover,
.card:focus {
  transition: all 0.15s;
  border-color: var(--bs-blue);
  box-shadow: 0 1px 6px 0 rgba(124, 124, 124, 0.15);
}

.form-check-rdv {
  font-weight: 600;
  font-size: 1.25rem;
}

/* Espacement et centrage des boutons RDV */
.fr-text--center {
  text-align: center;
}

/* Espacement entre les boutons */
.fr-mr-2w {
  margin-right: var(--spacing-2w);
}

.rdv-toggle-group {
  padding: 0;
  margin-bottom: 0;
}

.rdv-toggle {
  width: 100%;
  padding: var(--spacing-1w) var(--spacing-2w);
  background-color: var(--blue-cumulus-975);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.rdv-toggle:not(.rdv-toggle--selected) {
  background-color: var(--blue-cumulus-975);
  color: var(--text-default-grey);
}

.rdv-toggle.rdv-toggle--selected {
  background-color: var(--background-default-grey-hover);
  border-color: var(--border-active-blue-france);
  box-shadow: 0 0 0 2px var(--text-action-high-blue-france);
}

.rdv-toggle__label {
  font-weight: 600;
}

/* Centrer le formulaire */
.rdv-form {
  max-width: 800px;
  margin: 0 auto;
}
