.card {
  cursor: pointer;
}

.card_selected,
.card:hover,
.card:focus {
  transition: all 0.15s;
  border-color: var(--bs-blue);
  box-shadow: 0 1px 6px 0 rgba(124, 124, 124, 0.15);
}

.form-check-rdv {
  font-weight: 600;
  font-size: 1.25rem;
}
